<section class="machine-learning">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title text-black">Big Data</h1>
            <hr>
            <div>
<!--                <img class="heading-img" src="assets/images/machine-learning/machine-learning-banner.png" alt="">-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left heading-section mb-5">
                No content is available now
            </div>
        </div>
    </div>
</section>
