<footer class="footer-bg">
    <section class="container upper-footer">
        <div class="row">
            <div class="col-lg-6">
                <img class="footer-logo" src="assets/images/footer-logo.png" alt="">
                <div class="address">
                    <p class="">Road 8, House 449/5 Baridhara DOHS,<br>
                    Dhaka -1206, Bangladesh <br>
                    Email : mkt@pristineworldwide.com</p>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-2">
                <h4 class="links-title">
                    QUICK LINKS
                </h4>
                <ul class="links">
                    <li>
                        <a [routerLink]="['/careers']">✪ Careers</a>
                    </li>
                    <li>
                        <a [routerLink]="['/webinars']">Webinars</a>
                    </li>
                    <li>
                        <a href="">White Papers</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4 class="links-title">
                    FOLLOW US!
                </h4>
                <ul class="links">
                    <li>
                        <a href=""><img class="icon-img" src="assets/images/icons/linkedin.png" width="50%">LinkedIn</a>
                    </li>
                    <li>
                        <a href=""><img class="icon-img" src="assets/images/icons/facebook.png" width="50%">Facebook</a>
                    </li>
                    <li>
                        <a href=""><img class="icon-img" src="assets/images/icons/instagram.png" width="50%">Instagram</a>
                    </li>
                    <li>
                        <a href=""><img class="icon-img" src="assets/images/icons/twitter.png" width="50%">Twitter</a>
                    </li>
                    <li>
                        <a href=""><img class="icon-img" src="assets/images/icons/youtube.png" width="50%">YouTube</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="copyright">
        <p class="mb-0">
            © 2005 - 2020, <strong>Pristine Solutions</strong>. All Rights Reserved.
        </p>
    </section>
</footer>
