<section class="sfa">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">
                SFA
                <span class="post-meta d-block">• by Pristine Solutions •</span>
            </h1>
            <h4 class="sub-title">Mobilize your sales team like never before</h4>
            <hr>
            <a [routerLink]="['/contact-us']">
                <img class="heading-img" src="assets/images/sfa/sfa-banner.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 align-self-center mr-auto text-left mb-5">
                <h3 class="text-black mb-3" data-aos="fade-up" data-aos-duration="1000">
                    Sales Force Automation
                </h3>
                <p class="text-black lead mb-4" data-aos="fade-up" data-aos-duration="1000">
                    Our proprietary solution, Pristine Sales Force Automation (Pristine SFA) is an integrated system for mobilizing your sales and distribution operations in the cloud. With Pristine SFA you can:
                </p>
                <ul class="list-unstyled text-black mb-5">
                    <li class="mb-3">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Better equip your field salesforce with automated and mobilized sales and distribution processes.</p>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Increase your salesforce’s collaboration and information sharing across your organization.</p>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Provide your sales managers with everything they need to monitor and track their teams with real-time, comprehensive sales data.</p>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Go paperless by allowing sales representatives to work digitally on sales orders, collections, returns and more with anywhere, anytime access to these documents.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-7 text-center heading-section text-black mb-5">
                <h5><b>Key Features of Pristine SFA:</b></h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 align-self-center mr-auto text-left heading-section text-black mb-5 pb-4">
                <h5><b>Visit &amp; Route Planning</b></h5>
                <p>Enables sales representatives to create visit plans for approval from Management.</p>
                <br>
                <h5><b>Location Tracking</b></h5>
                <p>Utilizes Geo Fencing Routes and Geo Tracking so you always know where your Sales Representatives are.</p>
                <br>
                <h5><b>Order &amp; Payment</b></h5>
                <p>Create and manage all sales orders in one secure place in the cloud that can be accessed at any time.</p>
                <br>
                <h5><b>Inventory Management</b></h5>
                <p>Track your inventory in real time.</p>
                <br>
                <h5><b>Customer &amp; Prospect Management</b></h5>
                <p>Update customer and prospect activity within a single second.</p>
                <br>
                <h5><b>Opportunity Management</b></h5>
                <p>Increase lead generation by recording and tracking all new opportunity related data.</p>
                <br>
                <h5><b>Expenses Management</b></h5>
                <p>No more paper receipts! Update daily expenses of Sales Representatives and get Managers to sign off their approval.</p>
                <br>
                <h5><b>Report Analytics with Power Business Intelligence</b></h5>
                <p>Get real-time access to your business’s analytical data through a user-friendly dashboard that’s powered by business intelligence and Improve Business Insight.</p>
            </div>
        </div>
    </div>
</section>
<br>
<!--<section class="contact-form" #contactUs>-->
<!--    <div class="container" data-aos="fade-up" data-aos-duration="1000">-->
<!--        <h4>Reach-out for a Free Demo:</h4>-->
<!--        <p>We’d love to show you how Pristine SFA can streamline your sales team.</p>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" id="hubspotForm"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
