<section class="business-one">
    <div class="container">
        <div class="page-heading-section">
            <h1 class="title"><b>SAP Business One</b></h1>
            <h4 class="sub-title">Smart ERP Solutions for Your Small to Midsize (SME) Business</h4>
            <hr>
            <a (click)="scroll(contactUs)">
                <img class="heading-img" src="assets/images/sap-business/sap-business.png" alt="">
            </a>
        </div>
    </div>
</section>
<br>
<section class="contact-form" #contactUs>
    <div class="container">
        <h4>Book your Free Demo:</h4>
        <p>Our industry experts, consultants, and support engineers are here for you.</p>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
