<section class="business-one">
    <div class="container">
        <div class="page-heading-section">
            <h1 class="title"><b>SAP Business One</b></h1>
            <h4 class="sub-title">Smart ERP Solutions for Your Small to Midsize (SME) Business</h4>
            <hr>
            <a (click)="scroll(contactUs)">
                <img class="heading-img" src="assets/images/sap-business/sap-business.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <p class="lead" data-aos="fade-up" data-aos-duration="1000">
            SAP Business One from Pristine Solutions, SAP Gold Partner
            Manage all your business processes - from accounting to CRM and everything in between - in one easy-to-use SME solution.
            Increase efficiency and agility by gaining access to real-time company information and streamlining your internal processes.
        </p>
        <ul class="list-unstyled mb-5" data-aos="fade-up" data-aos-duration="1000">
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> One integrated solution for all your business intelligence.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Quick cloud-based or on-premise deployment.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Integrate with SAP HANA for quick database access.</li>
        </ul>

        <h5 data-aos="fade-up" data-aos-duration="1000">
            <b>Key Benefits of SAP Business One from Pristine Solutions:</b>
        </h5>
        <hr>
        <p class="lead" data-aos="fade-up" data-aos-duration="1000">
            SAP Business One helps you work smarter - not harder - with a single cost-effective SME ERP solution.
        </p>

        <br>

        <p data-aos="fade-up" data-aos-duration="1000">
            <b>Affordable for SMEs</b>
            <br>We know SMEs have limited budgets. That’s why SAP Business One, which is an affordable end-to-end business management solution, is ideal for you. SAP Business One is used by SMEs to perform a variety of internal processes including finance, purchasing, inventory, sales, CRM, project management, operations, and HR.
        </p>
        <br>

        <p data-aos="fade-up" data-aos-duration="1000">
            <b>A Single Solution for All Your Needs</b>
            <br>Say “Goodbye!” to piecemealing solutions. SAP Business One manages all your SME’s business needs.
        </p>
        <br>

        <p data-aos="fade-up" data-aos-duration="1000">
            <b>All the Insight You Need</b>
            <br>SAP Business One’s intuitive interface makes it easy for you to see insights of all your business functions.
        </p>

        <br>
        <br>
        <br>

        <h5 data-aos="fade-up" data-aos-duration="1000">
            <b>All the Insight You Need</b>
        </h5>
        <hr>

        <ul class="list-unstyled mb-5 pb-5" data-aos="fade-up" data-aos-duration="1000">
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Financial management</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Sales and customer management.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Purchasing and inventory control.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Business intelligence.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Analytics and reporting.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Industry-specific ERP solutions.</li>
        </ul>
    </div>
</section>
<br>
<section class="contact-form" #contactUs>
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h4>Book your Free Demo:</h4>
        <p>Our industry experts, consultants, and support engineers are here for you.</p>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
