<section class="businessBy-design">
    <div class="container">
        <div class="page-heading-section">
            <h1 class="title">SAP Business ByDesign</h1>
            <h4 class="sub-title">A scalable solution for all your ERP research</h4>
            <hr>
            <a (click)="scroll(contactUs)">
                <img class="heading-img" src="../../../assets/images/sap-business/business-byD.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="py-4 pr-5">
                    <p class="lead text-black">A cloud ERP software designed for medium-sized enterprises.</p>
                    <p class="text-black mb-4">
                        Mid-Market Businesses are growing businesses - both domestically and internationally. SAP Business ByDesign provides you with a single, cloud-based solution for managing all your business’s processes. And best of all, SAP Business ByDesign’s  capabilities scale when you do.
                    </p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <nz-carousel nzAutoPlay [nzEffect]="'fade'">
                    <div nz-carousel-content *ngFor="let img of image">
                        <img class="img-fluid" [src]=img alt="">
                    </div>
                </nz-carousel>
            </div>
        </div>

        <h5 data-aos="fade-up" data-aos-duration="1000"><b>Key Benefits of SAP Business ByDesign:</b></h5>
        <hr>
        <p class="lead" data-aos="fade-up" data-aos-duration="1000">The only ERP solution you need to manage and operate your growing business.</p>

        <br>
        <h5 data-aos="fade-up" data-aos-duration="1000"><b>Suite-in-a-Box</b></h5>
        <p data-aos="fade-up" data-aos-duration="1000">SAP Business ByDesign is a complete, end-to-end cloud solution with a proven track record for managing all business processes. Best of yet, it’s easy and quick to implement.</p>
        <br>

        <h5 data-aos="fade-up" data-aos-duration="1000"><b>Scalable Solution</b></h5>
        <p data-aos="fade-up" data-aos-duration="1000">SAP Business ByDesign capabilities scale as your business grows, both domestically and internationally.</p>
        <br>

        <h5 data-aos="fade-up" data-aos-duration="1000"><b>All the Insights You Need!</b></h5>

        <ul class="list-unstyled mb-5" data-aos="fade-up" data-aos-duration="1000">
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Smart Cloud ERP that streamlines your business processes from end to end.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Provides instant value by marking your organization more agile and better-equipped to adapt to new opportunities or business challenges.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Real-time business analytics help you make data-informed decisions to increase your efficiency and bottom line.</li>
            <li class="mb-3"><i class="mr-2 text-success" nz-icon nzType="check" nzTheme="outline"></i> Provision of Software As A Service (SAAS) mode.</li>
        </ul>


        <div class="text-left text-black mb-5">
            <h5 data-aos="fade-up" data-aos-duration="1000"><b>Key Capabilities of SAP Business ByDesign:</b></h5>
            <hr>
            <ul class="list-unstyled mb-5">
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Finance</b>
                    <br>
                    <p class="key-capability">
                        Access real-time financial data to streamline your core accounting processes and help you manage cash and liquidity better than ever before.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Customer Relationship Management (CRM)</b>
                    <br>
                    <p class="key-capability">
                        An integrated CRM helps you manage all your marketing, sales, and support efforts while enabling you to integrate both your front-office and back-office processes.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Human Resources</b>
                    <br>
                    <p class="key-capability">
                        Manage your human capital easily with solutions for organizational management, workforce administration, tracking employees’ time and attendance, and employee self-service activities.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Project Management</b>
                    <br>
                    <p class="key-capability">
                        Keep projects of any size and scope managed to a “T” with a solution that integrates all functional areas of your business.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Procurement</b>
                    <br>
                    <p class="key-capability">
                        Manage your entire procurement process for sourcing and contracting, RFQ processing, and supplier base management, all while providing your employees with self-service procurement capabilities.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Supply Chain Management</b>
                    <br>
                    <p class="key-capability">
                        Track your inventory like never before by modeling your internal and external supply with a system that provides you up-to-date inventory valuation.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Localization</b>
                    <br>
                    <p class="key-capability">
                        Use globally by localizing languages, tax requirements, and currencies for more than 100 countries.
                    </p>
                </li>
                <hr>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Security &amp; Compliance:</b>
                    <br>
                    <p class="key-capability">
                        Using SAP Business ByDesign in the cloud provides best-in-class compliance and data security.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Data Security:</b>
                    <br>
                    <p class="key-capability">
                        SAP Business ByDesign keeps your data safe and secure. It’s proactive, predictive approach lets you focus on your business while the solution keeps you safe from would-be cybercriminals.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Data Protection &amp; Privacy:</b>
                    <br>
                    <p class="key-capability">
                        We know your customers, employees, vendors, and partners value their privacy. SAP Business ByDesign preserves your data security and privacy so as to prevent this information from being leaked.
                    </p>
                </li>
                <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                    <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                    <b>Compliance:</b>
                    <br>
                    <p class="key-capability">SAP is constantly performing external reviews and audits to make sure SAP Business ByDesign is up-to-date on the very latest compliance and security standards in all markets served.</p>
                </li>
            </ul>
        </div>

        <h5 data-aos="fade-up" data-aos-duration="1000"><b>Focus on your business while SAP Business ByDesign provides security for:</b></h5>
        <hr>
        <ul class="list-unstyled mb-5 pb-5">
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                Secure Products.
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                Secure Operations.
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                Secure Company.
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                Securing the Intelligent Enterprise.
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                Security Offerings.
            </li>
            <li class="mb-3" data-aos="fade-up" data-aos-duration="1000">
                <i class="mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                Data Center Security.
            </li>
        </ul>
    </div>
</section>
<br>
<section class="contact-form" #contactUs>
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h4>Book your Free Demo:</h4>
        <p>Our industry experts, consultants, and support engineers are here for you.</p>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
