<section class="business-one">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">HRIS</h1>
            <h4 class="sub-title">Human Capital Management for SMEs and Large Enterprises</h4>
            <hr>
            <a (click)="scroll(contactUs)">
                <img class="heading-img" src="assets/images/hris/hris-banner.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center text-black">
            <div class="col-lg-12 align-self-center mr-auto text-left mb-5">

                <h3 class="text-black mb-3">Human Resource Information System</h3>
                <p class="lead mb-4">HRIS is our proprietary solution for managing all your organization’s human resource needs.
                    <br>
                    Capture all details from recruiting planning, position advertising, on-boarding and recruitment up to resignation. HRIS includes 22 modules to help you manage an unlimited number of operations records. It enables you to create exceptional managerial reports to facilitate employee lifecycle management.
                </p>
            </div>

            <div class="col-lg-6 align-self-center mr-auto text-left heading-section mb-5">
                <h5><b>Key Modules Included with HRIS:</b></h5>
                <hr>
                <ul class="list-unstyled text-black mb-5 pb-4" data-aos="fade-up" data-aos-duration="1000">
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Self service Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">HOD Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Profile Manager Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Training &amp; Attendance Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Virtual File Store Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Loan Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Transport &amp; Accommodation Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Volunteer Tracker Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">PMS Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Employee Confirmation Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Employee Transfer Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Employee Resignation Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Dashboard</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Org Chart</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Recruitment Module</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Reports</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section class="contact-form" #contactUs>
    <div class="container">
        <h4>Book your Free Demo:</h4>
        <p>Our industry experts, consultants, and support engineers are here for you.</p>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
