<section class="industry">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title text-black">INDUSTRIES WE SUPPORT</h1>
            <span class="font-14"><b>130+</b> industries are supported.</span>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="tea">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                <img src="assets/images/industry/icn-tea.png" alt="Tea Industry support by Pristine Solutions" class="img-fluid" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left" data-aos-duration="1000">
                <div class="details-info">
                    <h2 class="text-black">Tea Industry</h2>
                    <p class="mb-4">Tea exporters, Tea Auctioneers and Tea plantation are three different variants of the same value chain. Each of these three segments has its own unique requirements and pain points to address. Except for SAP Business One, no solution has identified or catered to requirements of all three stakeholders of the Tea value chain.
                        <br><br>
                        SAP Business One has specific add-ons to support tea plantations and their requirements of land development, growing, and corps. Functionality coverage from inventory management, payrolls, and accounting is included.
                        <br><br>
                        Tea exporters require data integration from auction through catalog files uploads, blending, Tea board reporting, production, packing, out sourcing to shipping. Challenges for Tea exporters are easily handled in a unique way by SAP Business One and it is tried and tested by many Tea exporters in Sri Lanka.
                    </p>
                </div>

            </div>
        </div>
        <hr>

        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="apparel">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                <img src="assets/images/industry/icn-apparel.png" alt="" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left" data-aos-duration="1000">
                <div class="details-info">
                    <h2 class="text-black">Apparel Industry</h2>
                    <p class="mb-4">Apparel and footwear companies can manage their entire businesses in a single system. It’s affordable, easy to buy and use, and quick to install. The software will help to build strong customer relationships with integrated customer relationship management, and become more efficient by eliminating data redundancies and errors.
                        <br><br>
                        Process covers from the sample room, design and tech pack to production and shipping. In addition to supporting core apparel functionality, additional functionalities like printing, washing, and embroidery are also directly supported by a specialized add-on with SAP Business One.</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="agri">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/images/industry/icn-agri.png" alt="Agricultural Industry support by Pristine Solutions" class="img-fluid" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left" data-aos-duration="1000">
                <div class="details-info">
                    <h2 class="text-black">Agricultural  Industry</h2>
                    <p class="mb-4">The agriculture industry, or Agro business, plays a vital role in the economic development of a country. The agriculture industry makes a significant contribution in the real-time supply of food resources, contributing to the economic prosperity of the nation. The importance of an ERP software in agriculture or agro business is high, as it helps in streamlining every process like procurement, production, and distribution.
                        <br><br>
                        Agri-One, powered by SAP Business One, is a comprehensive, integrated business solution designed specifically for agriculture- industrial organizations to support the full life cycle of agriculture operations. It provides a highly scalable, tightly-integrated solution that empowers both farm and buyer managers to make timely, intelligent business decisions based on accurate, up-to-the-minute data.
                    </p>
                </div>

            </div>
        </div>
        <hr>

        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="logistics">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                <img src="assets/images/industry/icn-logistic.png" alt="Third Party Logistics Industry support by Pristine Solutions" class="img-fluid" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left" data-aos-duration="1000">
                <div class="details-info">
                    <h2 class="text-black">Logistics (3PL) Industry</h2>
                    <p class="mb-4">Gain more insights such as which products deliver more profitability, which products turn around faster, and which category of customers provide faster cash turn around while managing your warehouse, inventory, sales, and procurement processes more efficiently and profitably. SAP Business One is a ready solution for all trading and distribution companies of any size and geography. Enabling beyond the traditional transaction processing, SAP Business One will provide a new technology dimension to these businesses to gain a competitive advantage.
                        <br><br>
                        Pristine Logistics &amp; Warehouse Management Solution will give business leaders peace of mind in managing their inventory, warehouse space, and procurement, while improving their customer service.
                    </p>
                </div>

            </div>
        </div>
        <hr>

        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="FnB">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                <img src="assets/images/industry/icn-fnb.png" alt="Food &amp; Beverage Industry support by Pristine Solutions" class="img-fluid" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left"  data-aos-duration="1000">
                <div class="details-info">
                    <h2 class="text-black">Food &amp; Beverage Industry</h2>
                    <p class="mb-4">SAP Business One caters to specific requirements of the food industry and provides industry-specific solutions. It provides integrated sales, purchasing, manufacturing, finance, and operations within a single system. SAP Business One supports multiple ways of manufacturing products with various recipes. It helps in controlling the entire process of production, packaging, and distribution by efficiently managing stock. The solution expands to quality assurance, tracking and reporting expiry in the field and in stores, and also managing cash flow and decision support.
                    </p>
                </div>

            </div>
        </div>
        <hr>

        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="construction">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/images/industry/icn-construction.png" alt="Construction Industry support by Pristine Solutions" class="img-fluid" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left" data-aos-duration="1000">
                <div class="details-info">
                    <h2 class="text-black">Construction Industry</h2>
                    <p class="mb-4">For the construction industry, project management expands to another level including pre and post costing, and managing estimates versus actuals. Multiple modes of billing are used from measure and pay to milestone billing, etc. Inventory and material management, timelines and progress monitoring are other key aspects in addition to accounting and working capital monitoring.
                        <br><br>SAP Business One is ready to support specific requirements of this industry.
                    </p>
                </div>

            </div>
        </div>
        <hr>

        <div class="row no-gutters hover-1-wrap mb-5 mb-lg-0" id="health">
            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/images/industry/icn-health.png" alt="Healthcare Industry support by Pristine Solutions" class="img-fluid" width="60%">
            </div>
            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left"  data-aos-duration="1000">
                <h2 class="text-black">Life Science Industry</h2>
                <p class="mb-4">SAP Business one is ready with solutions to provide planning, tracking, and management of a healthcare organization’s vital assets. Guide through process of managing compliance, approvals from health authorities, managing inventory, tracking expiry and lots, traceability and managing equipment and assets.</p>
            </div>
        </div>
    </div>
</section>
