@import "src/styles/custom-variables";

.industry {
    color: $subtitle-color;
    margin-bottom: 60px;

    .page-heading-section {
        .title {
            font-size: 32px;
            margin-bottom: 10px;
        }
    }

    .key-capability {
        color: $subtitle-color;
    }

    .hover-1-wrap {
        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

        .details-info {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }
}
