<section class="block-chain">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title text-black">BLOCKCHAIN</h1>
            <hr>
            <div>
                <img class="heading-img" src="assets/images/block-chain/block-chain-banner.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left heading-section mb-5">

                <p class="lead mb-5">Open technologies are an important source of innovation to foster cutting-edge inventions, discoveries, and new knowledge to advance society.
                </p>
                <p class="lead mb-5"><b>Pristine is capable of providing the best blockchain technology through SAP!</b></p>


                <p class="lead mb-5">By this technology multi-party processes will be simplified and trust will be created among participants.</p>
                <br>

                <h3>Why SAP for Blockchain?</h3>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                        <div class="block_service">
                            <h6 class="text-black">Business Process Centered</h6>
                            <p>Our approach to blockchain focuses on more than just the technology. Use cases, business value, and impacted processes are paramount – and data quality and integrity are ensured from the get-go.</p>
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="100">
                        <div class="block_service">
                            <h6 class="text-black">Networks Experience</h6>
                            <p>Combining your company’s digital core with a vibrant and active business network is key to blockchain success. SAP lives and breathes business networks – and can help you integrate seamlessly and securely.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="200">
                        <div class="block_service">
                            <h6 class="text-black">BaaS Abstraction Layer</h6>
                            <p>Our BaaS solution includes an abstraction layer that supports open standards, offers built-in integration with SAP applications – and insulates you and your partners from the technology’s volatility.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
