<section class="tea-one">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">
                Logistic One
                <span class="post-meta d-block">• by Pristine Solutions •</span>
            </h1>
            <h4 class="sub-title">Efficiently Manage your Warehouse & Logistics!</h4>
            <hr>
            <a href="/contact-us#contactUs">
                <img class="heading-img" src="assets/images/logistic/logistic=banner.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-12 align-self-center mr-auto text-left heading-section text-black mb-5">
                <p class="lead text-black">Our solution, Pristine Logistics &amp; Warehouse Management Solution is a complete Enterprise Resource Planning system for managing inventory, warehouse space and procurement. Manage your logistics from wherever you are, all while improving your customer service.
                </p>
                <ul class="list-unstyled text-black mb-5">
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">A robust, flexible solution that scales to your business’s growing needs.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Improve operational efficiency, customer service and profitability by automating, streamlining and integrating your business processes with Logistic One.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">A modern business management solution that adapts to the ever-changing, global needs of the freight and logistics industry.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 align-self-center mr-auto text-left heading-section text-black mb-5">
                <h5><b>Key Features of LogisticOne:</b></h5>
                <hr>
                <ul class="list-unstyled text-black mb-5">
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Increased visibility of your business’s activities in 3PL.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Support for multi-accounts and multi-warehouses.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Work smarter by defining customer-specific operational processes and workflows.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Manage jobs mobily.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Complete inbound and outbound processing.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Track quantity and quality control of your goods.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Create work orders and special processing documents.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Complete follow-ups.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Configure your notification alerts and approvals to meet your organization’s unique needs.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Track your stock using barcodes or RFID.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Manage your inventory.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Support for billing, revenue and cost management activities.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Use the Labor Management module to track each employee’s performance individually.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Scheduling &amp; job management.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Generate reports and business intelligence.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Use profile management to configure users’ roles and rules.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 text-left heading-section text-black mb-5">
                <h5 data-aos="fade-up" data-aos-duration="1000"><b>Core Components of LogisticOne:</b></h5>
                <hr>
                <ul class="list-unstyled text-black mb-5" data-aos="fade-up" data-aos-duration="1000">
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Job management.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Warehouse management.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Outbound &amp; inbound logistics.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Inventory management.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Milk run logistics.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Scheduling.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Finance.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Labor management.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Work order/special order.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Bin location handling.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
<br>
<!--<section class="contact-form" #contactUs>-->
<!--    <div class="container" data-aos="fade-up" data-aos-duration="1000">-->
<!--        <h4>Book your Free Demo:</h4>-->
<!--        <p>Our industry experts, consultants, and support engineers are here for you.</p>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" id="hubspotForm"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
