<section class="top-bar">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="icons-list">
            <a href="https://www.linkedin.com/company/pristineerp" target="_blank">
                <img class="icon-img" src="assets/images/icons/linkedin.png" width="50%">
            </a>
            <a href="https://www.facebook.com/PristineERP/" target="_blank">
                <img class="icon-img" src="assets/images/icons/facebook.png" width="50%">
            </a>
            <a href="https://www.instagram.com/PristineERP/" target="_blank">
                <img class="icon-img" src="assets/images/icons/instagram.png" width="50%">
            </a>
            <a href="https://www.twitter.com/PristineERP" target="_blank">
                <img class="icon-img" src="assets/images/icons/twitter.png" width="50%">
            </a>
        </div>
        <div class="right-menu">
            <ul class="list-unstyled mb-0">
                <li class="mr-4">
                    <img class="icon-img mr-2" src="assets/images/icons/envelope-outline.svg" alt="">
                    <a href="mailto:mkt@pristineworldwide.com">mkt@pristineworldwide.com</a>
                </li>
                <li class="mr-4"><img class="icon-12 mr-2" src="assets/images/icons/telephone-fill.svg" alt=""> (+880) 17 1314 1930</li>
                <li class="">
                    <a href="#" class="country" style="position:relative;" id="pop">
                        <img src="assets/images/flag/bd.png" width="50%">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<nz-affix [nzOffsetTop]="0">
    <section class="header-bg">
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg main-header p-0">
                    <a class="navbar-brand" [routerLink]="['/']">
                        <img src="assets/images/pristine-logo.png" alt="">
                    </a>
                    <button class="navbar-toggler border" (click)="handleDropDown()" type="button" data-toggle="collapse" data-target="#navbarsupportedcontent" aria-controls="navbarsupportedcontent"  [attr.aria-expanded]="isDropdownCollapsed" aria-label="toggle navigation">
                        <img class="pb-1" src="assets/images/icons/hamburger-menu.svg" alt="">
                    </button>

                    <!-- Bar Menu -->
                    <!--<button role="button" (click)="handleDropDown()" class="navbar-toggler rounded-0" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Show/Hide Main Menu">
&lt;!&ndash;                        <span class="fas fa-fw" [ngClass]="isDropdownCollapsed?'fa-times':'fa-bars'"></span>&ndash;&gt;
                        <span class="navbar-toggler-icon"></span>
                    </button>-->

                    <div class="collapse navbar-collapse" id="navbarsupportedcontent">
                        <!--Head-->
                        <div class="container d-lg-none">
                            <div class="navbar-header w-100">
                                <!-- Bar Menu -->
                                <button role="button" (click)="closeHamburgerMenu()" class="navbar-toggler rounded-0 border border-dark float-right mt-4" type="button" aria-controls="navbarSupportedContent" [attr.aria-expanded]="isDropdownCollapsed" aria-label="Show/Hide Main Menu">
                                    <img class="pb-1" src="assets/images/icons/close.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link"  nz-dropdown [nzDropdownMenu]="products">
                                    Products
                                    <i class="ml-1" nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #products="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item [routerLink]="['/sap-businessone']">SAP Business One</li>
                                        <li nz-menu-item [routerLink]="['/sap-business-bydesign']">SAP BusinessByDesign</li>
                                        <li nz-menu-item [routerLink]="['/sap-hana']">SAP S/4 HANA</li>
                                        <li nz-menu-item [routerLink]="['/sap-customer-checkout']">PoS Software</li>
                                        <li nz-submenu nzTitle="eCommerce">
                                            <ul>
                                                <li nz-menu-item [routerLink]="['/focus-point']">FocusPoint</li>
                                                <li nz-menu-item [routerLink]="['/bigcommerce']">Big Commerce</li>
                                            </ul>
                                        </li>
                                        <li nz-menu-item [routerLink]="['/sfa']">SFA</li>
                                        <li nz-menu-item [routerLink]="['/sap-apparel']">SAP Apparel</li>
                                        <li nz-menu-item [routerLink]="['/agri-one']">Agri One</li>
                                        <li nz-menu-item [routerLink]="['/tea-one']">Tea One</li>
                                        <li nz-menu-item [routerLink]="['/logistic-one']">Logistic One</li>
                                        <li nz-menu-item [routerLink]="['/hris']">HRIS</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  nz-dropdown [nzDropdownMenu]="technology">
                                    Technology
                                    <i class="ml-1" nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #technology="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item [routerLink]="['/technology-iot']">Internet of Things (IoT)</li>
                                        <li nz-menu-item [routerLink]="['/technology-blockchain']">Blockchain</li>
                                        <li nz-menu-item [routerLink]="['/technology-machine-learning']">Artificial Intelligence</li>
                                        <li nz-menu-item [routerLink]="['/technology-big-data']">Big Data</li>
                                        <li nz-menu-item [routerLink]="['/technology-rpa']">RPA</li>
                                        <li nz-menu-item [routerLink]="['/technology-business-intelligent']">Business Intelligence</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  nz-dropdown [nzDropdownMenu]="services">
                                    Services
                                    <i class="ml-1" nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #services="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item [routerLink]="['/project-management']">Project Management</li>
                                        <li nz-menu-item [routerLink]="['/support-service']">Services & Training</li>
                                        <li nz-menu-item [routerLink]="['/consulting']">Consulting</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  nz-dropdown [nzDropdownMenu]="company">
                                    Company
                                    <i class="ml-1" nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #company="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li [routerLink]="['/about-us']" nz-menu-item>About Us</li>
                                        <li [routerLink]="['/awards']" nz-menu-item>Awards & Accolades</li>
                                        <li [routerLink]="['/success-stories']" nz-menu-item>Success Stories</li>
                                        <li [routerLink]="['/resources']" nz-menu-item>Resources</li>
                                        <li [routerLink]="['/partnerships']" nz-menu-item>Partners</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </li>
                            <li class="nav-item" [routerLink]="['/industry']">
                                <a class="nav-link">
                                    Industry
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/contact-us']">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </section>
</nz-affix>
