@import "src/styles/custom-variables";

.top-bar {
    background-color: $header-bg;
    padding: 10px 0 0;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    .icons-list {
        a {
            .icon-img {
                filter: opacity(0.6);
                width: 13px;
                height: 13px;
                margin-right: 24px;
            }

            &:hover {
                .icon-img {
                    filter: opacity(1);
                }
            }
        }
    }

    .right-menu {
        ul {
            li {
                display: inline-block;
                font-size: 14px;

                a {
                    &:hover {
                        color: #50d8af;
                    }
                }
            }
        }
    }
}

.header-bg {
    background-color: $header-bg;
    box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 6%);
    padding-bottom: 10px;
}

.main-header {
    .navbar-collapse {
        justify-content: flex-end !important;

        @include media-breakpoint-down(lg) {
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
            height: 100%;
            right: 0;
            position: fixed;
            overflow: auto;
            top: 0;
            width: 80%;
            transform: translate3d(100%,0,0);
            transition: transform .3s cubic-bezier(.785,.135,.15,.86);
            z-index: 1012;
            background: $white;

            &.show {
                transform: translate3d(0, 0, 0);
            }
        }

        .navbar-nav {
            .nav-link {
                padding: 30px 20px;
                color: $nav-link-color;

                @include media-breakpoint-down(lg) {
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &:hover {
                    color: $nav-link-hover;
                }
            }
        }
    }
}

::ng-deep {
    .ant-dropdown-menu {
        border-top: 6px solid $menu-dropdown-border;
        padding: 0;

        &-item {
            padding: 9px 20px;
        }
    }

    .ant-dropdown-menu-submenu-title {
        padding: 9px 20px;
    }

    .ant-menu-submenu.ant-menu-submenu-placement-left {
        @include media-breakpoint-down(md) {
            right: -300px;
            position: relative;
            top: 40px;
            width: 150px;
        }
    }
}
