<section class="contact-us">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title"><b>We're World-Wide!</b></h1>
            <hr>
            <img src="assets/images/contact-us/contact-banner.png" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters pb-3 mt-4">
            <div class="col-lg-3 text-center pb-5">
                <h5 style="text-align:center">U.S.A.</h5>
                <img src="assets/images/contact-us/icn-aus.png" class="img-fluid d-block mx-auto" style="max-height:100px;width:auto;padding-top:15px;padding-bottom:15px;">
                <b>Pristine Solutions Inc.</b><br>
                <p style="text-align:left">1902 Wright Place, <br>
                    Suite 200, Carlsbad, CA 92008. <br><br>
                    <span class="cell-icon-color">☎</span>  (+1) 619 598 0693<br><br>
                    ✉  info@pristineworldwide.com
                </p>
            </div>

            <div class="col-lg-3 text-center pb-5">
                <h5 style="text-align:center">Bangladesh</h5>
                <img src="assets/images/contact-us/icn-ban.png" class="img-fluid d-block mx-auto" style="max-height:100px;width:auto;padding-top:15px;padding-bottom:15px;">
                <b>Pristine Solutions BD LTD</b><br>
                <p style="text-align:left">326/2, Elephant Road,<br>
                    New Market, Dhaka.<br><br>
                    <span class="cell-icon-color">☎</span>  (+880) 17 1314 1930<br><br>
                    ✉  info@pristinesolutionsbd.com
                </p>
            </div>

            <div class="col-lg-3 text-center pb-5">
                <h5 style="text-align:center">Sri Lanka</h5>
                <img src="assets/images/contact-us/icn-sl.png" class="img-fluid d-block mx-auto" style="max-height:100px;width:auto;padding-top:15px;padding-bottom:15px;">
                <b>Pristine Solutions Pvt. Ltd.</b><br>
                <p style="text-align:left">No.33, Level 04 - Atrium Building,<br>
                    Balapokuna Road, Colombo 05.<br><br>
                    <span class="cell-icon-color">☎</span>  (+94) 11 250 4878<br>
                    📱  (+94) 76 618 0110<br>
                    ✉  mkt@pristineworldwide.com
                </p>
            </div>

            <div class="col-lg-3 text-center pb-5">
                <h5 style="text-align:center">Australia</h5>
                <img src="assets/images/contact-us/icn-usa.png" class="img-fluid d-block mx-auto" style="max-height:100px;width:auto;padding-top:15px;padding-bottom:15px;">
                <b>Pristine Solutions Anz Pty Ltd</b><br>
                <p style="text-align:left">102 46 Graingers Road,<br>
                    West Footscray, VIC 3012.<br><br>
                    <span class="cell-icon-color">☎</span>  (+1) 619 598 0693<br><br>
                    ✉  info@pristineworldwide.com
                </p>
            </div>
        </div>
        <hr class="m-0 pb-5">
    </div>
</section>
<section class="contact-form">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h4 class="title">Leave us a Message:</h4>
        <br>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
