<section class="contact-us">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">We're World-Wide!</h1>
            <hr>
            <img src="assets/images/contact-us/contact-banner.png" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-3">
                        <img src="assets/images/contact-us/icn-ban.png" alt="Pristine Solutions in Dhaka Bangladesh" class="img-fluid">
                    </figure>
                    <div class="blog-entry-text">
                        <h6><i>BANGLADESH</i></h6>
                        <h5 class="text-black"><b>Pristine Solutions BD LTD</b></h5>
                        <p class="text-black" style="text-align:left">
                            <img class="mb-1" src="assets/images/icons/location.svg" alt=""> 326/2 Elephant Road,<br>
                            New Market, Dhaka-1205 Bangladesh.
                        </p>
                        <p class="text-black">
                            <img class="mb-1" src="assets/images/icons/telephone-fill.svg" alt="">     (+880) 1791-807417<br>
                            <img class="mb-1" src="assets/images/icons/envelope-fill.svg" alt="">     info@pristinesolutionsbd.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-3">
                        <img src="assets/images/contact-us/icn-usa.png" alt="Pristine Solutions in the United States of America" class="img-fluid">
                    </figure>
                    <div class="blog-entry-text">
                        <h6><i>U.S.A.</i></h6>
                        <h5 class="text-black"><b>Pristine Solutions Inc.</b></h5>
                        <p class="text-black" style="text-align:left">
                            <img class="mb-1" src="assets/images/icons/location.svg" alt="">  1902 Wright Place, <br>
                            Suite 200, Carlsbad, CA 92008.
                        </p>
                        <p class="text-black">
                            <img class="mb-1" src="assets/images/icons/telephone-fill.svg" alt="">     (+1) 619 598 0693<br>
                            <img class="mb-1" src="assets/images/icons/envelope-fill.svg" alt="">     info@pristineworldwide.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-3">
                        <img src="assets/images/contact-us/icn-sl.png" alt="Pristine Solutions in Ceylon - Sri Lanka" class="img-fluid">
                    </figure>
                    <div class="blog-entry-text">
                        <h6><i>SRI LANKA</i></h6>
                        <h5 class="text-black"><b>Pristine Solutions PVT LTD</b></h5>
                        <p class="text-black" style="text-align:left">
                            <img class="mb-1" src="assets/images/icons/location.svg" alt=""> No.33, Level 04 - Atrium Building,<br>
                            Balapokuna Road, Colombo 00500.
                        </p>
                        <p class="text-black">
                            <img class="mb-1" src="assets/images/icons/telephone-fill.svg" alt="">     (+94) 11 250 4878<br>
                            <img class="mb-1" src="assets/images/icons/phone.svg" alt="">     (+94) 76 618 0110<br>
                            <img class="mb-1" src="assets/images/icons/envelope-fill.svg" alt="">     mkt@pristineworldwide.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-3">
                        <img src="assets/images/contact-us/icn-SG.png" alt="Pristine Solutions in Singapore" class="img-fluid">
                    </figure>
                    <div class="blog-entry-text">
                        <h6><i>SINGAPORE</i></h6>
                        <h5 class="text-black"><b>Pristine Solutions SG PTE. LTD.</b></h5>
                        <p class="text-black" style="text-align:left">
                            <img class="mb-1" src="assets/images/icons/location.svg" alt="">  20 Collyer Quay, #09-01,<br>
                            Singapore, 049319, Singapore.
                        </p>
                        <p class="text-black">
                            <img class="mb-1" src="assets/images/icons/telephone-fill.svg" alt="">      (+94) 76 618 0110<br>
                            <img class="mb-1" src="assets/images/icons/envelope-fill.svg" alt="">     shivanthi@pristineworldwide.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-3">
                        <img src="assets/images/contact-us/icn-aus.png" alt="Pristine Solutions in Australia" class="img-fluid">
                    </figure>
                    <div class="blog-entry-text">
                        <h6><i>AUSTRALIA</i></h6>
                        <h5 class="text-black"><b>Pristine Solutions Anz Pty Ltd</b></h5>
                        <p class="text-black" style="text-align:left">
                            <img class="mb-1" src="assets/images/icons/location.svg" alt="">102 46 Graingers Road,<br>
                            West Footscray, VIC 3012.
                        </p>
                        <p class="text-black">
                            <img class="mb-1" src="assets/images/icons/telephone-fill.svg" alt="">   (+1) 619 598 0693<br>
                            <img class="mb-1" src="assets/images/icons/envelope-fill.svg" alt="">   info@pristineworldwide.com
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <hr class="m-0 pb-5">
    </div>
</section>
<section id="contactUs" class="contact-form">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h4 class="title">Leave us a Message:</h4>
        <br>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
