<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center page-heading-section">
            <h1 class="text-black mb-2 text-uppercase">"Who are we?"</h1>
            <hr>
        </div>
        <div class="col-lg-12 text-left mb-5">
            <h3>We create the new technologies that you are looking for!</h3>
            <ul class="list-unstyled mb-5">
                <li class="mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            We are the only gold partner for SAP Business One in Sri Lanka, and we strive to be the leader in SAP Business One Solutions.
                        </p>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            We are OE service partners and support SAP Business growth.
                        </p>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Pristine Solutions comprehends experience in Enterprise solutions for over a decade since 2005. Pristine supports more than 200 customers across Sri Lanka, Central Africa, Australia, USA &amp; Bangladesh.
                        </p>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            We are the most successful and fastest-growing SAP Business One partner in our region. Pristine has gained the greatest number of SAP Business One HANA implementations and many installations of more than 160 customers.
                        </p>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            We are capable of combining our wide industry experience to work with the latest technologies. We have expanded up to the extent of Internet of Things and Blockchain usage. Along with Intelligent Enterprise &amp; Cloud ERP, we make sure that we provide the best solution possible using the newest technology.
                        </p>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            We are who we are today due to industry knowledge and expertise possessed by our dedicated team of professionals, who have extensive experience in system design, implementation, integration, and support.
                        </p>
                    </div>
                </li>
            </ul>

            <h5>Our Vision:</h5>
            <hr>
            <p class="lead mb-5">To lead the enterprise software solutions industry.</p>


            <h5>Our Mission:</h5>
            <hr>
            <p class="lead mb-5">To provide high-quality services that meets the demands of corporate dynamism to the benefit of all stakeholders.</p>
            <br>

            <h3 class="text-black mb-2">Management Team</h3>

            <div class="row no-gutters pb-5 mb-5">
                <div class="col-lg-12">
                    <nz-image-group class="w-100">
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a1-tiran.jpeg" alt="Tiran Mendis"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a1.jpeg" alt="Sanath Madhawa Premachandra"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a2.jpeg" alt="Sanath Madhawa Premachandra"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a3.jpeg" alt="Shivanthi Rathnayake"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a4-ernie.jpeg" alt="Ernest Orosco"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a5.jpeg" alt="Image"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a6.jpeg" alt="Image"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a7.jpeg" alt="Image" />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a8.jpeg" alt="Image" />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a9.jpeg" alt="Image" />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a10.jpeg" alt="Image"  />
                        <img nz-image class="img-fluid people" nzSrc="assets/images/people/a12.jpeg" alt="Image"  />
                    </nz-image-group>
                </div>
            </div>




        </div>


    </div>
</div>
