<section class="machine-learning">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title text-black">SUPPORT SERVICES & TRAINING</h1>
            <hr>
            <div>
                <img class="heading-img" src="assets/images/services-training/services-training-banner.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left heading-section mb-5">
                <h3>Support and training services we provide to our clients:</h3>
                <hr>
                <p class="lead mb-5">Our focused customer support team will contact you on any inquiry you have related to post-implementation services. Every support client with an active service level agreement will have an assigned account manager for services. You may use our support portal to log a request or call our support team directly.</p>
                <p class="lead mb-5">Maintenance Support - Pristine Solutions is not just a software reseller; we are a service-oriented company that ensures our clients continue to be satisfied with our software solutions. We offer comprehensive maintenance support packages so, should you need help, we will be there to trouble-shoot and walk you through to success.</p>

                <h3>Annual Service level agreement (SLA):</h3>
                <hr>
                <p class="lead mb-5">When a client is on an annual service level agreement, an assigned support team will be constantly in touch with the client to continuously monitor and support their service requirements.</p>
                <p class="lead mb-5">In addition to incident-based support, our team will guide a client’s staff to better use of their systems and help them learn new functions and features that can benefit them. Also, regular system health checks are performed to ensure software systems are at optimum performance levels.</p>
                <p>We have the following categories for annual services:</p>
                <ul class="list-unstyled text-black mb-4 pb-4" data-aos="fade-up" data-aos-duration="1000">
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Infinity Service Package</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Premium Service Package</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Remote Support Plan</p>
                        </div>
                    </li>
                </ul>
                <p class="lead mb-5">On-call support / per call support: Ideal for clients who are self-sufficient on first level support to their software solutions, but require additional support on certain incidents only. Our on call agreement is priced on a per hour fees basis and support modes are remote, telecall, or on-site.</p>
            </div>
        </div>
    </div>
</section>
