<section class="webinars bg-light" id="blog-section">
    <div class="container">
        <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">
                <h1 class="text-black mb-2">Webinars &amp; Online Learnings</h1>
                <p class="text-black">Learn from the leaders! We organize a variety of learning sessions to benefit your knowledge on enterprise solutions.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-6 col-lg-6 aos-init aos-animate mb-5" data-aos="fade-up" data-aos-delay="">
                <a class="block_service-wrapper" href="#">
                    <div class="block_service">
                        <img class="img-fluid" src="assets/images/webinars/link-image.png" alt="Webinar on SAP Business ByDesign">
                        <h5><b>Cloud Migration - Simplified</b></h5>
                        <span class="post-meta mb-3 d-block"><b>08 DEC 2020, at 3pm (GMT +5.30)</b></span>
                        <p class="text-black">Microsoft Sri Lanka and Pristine Solutions bring you a dynamic learning experience combined with customer examples.</p>
                        <button class="btn rounded-pill btn-secondary px-4">Sign-up:</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
