<section class="white-papers">
    <div class="container">
        <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">
                <h2 class="text-black mb-2">White Papers</h2>
                <p class="text-black">Our library of blog articles &amp; authoritative reports.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <a [routerLink]="['/whitepaper-transformSalesForce']" target="_blank">
                    <div class="block_service">
                        <img src="assets/images/white-papers/sfa-head2.png" alt="Pristine SFA">
                        <h5>The best automation tool to transform your field sales force &amp; Distribution</h5>
                        <p class="text-black"><i>Sales force automation software serves a dual purpose- sales tracking and sales pipeline management and is highly beneficial in today’s competitive industries.</i></p>
                        <hr>
                        <h5 class="read-more">Read more:</h5>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <a [routerLink]="['/whitepaper-useOfIntelligentTechnologiesInFarming']" target="_blank">
                    <div class="block_service">
                        <img src="assets/images/white-papers/agri-head.png" alt="Pristine Agriculture">
                        <h5>Intelligent Technologies are shaping the future of the Agricultural Industry.</h5>
                        <p class="text-black"><i>Smarter and efficient farm management methodologies are necessary to feed the growing world whilst utilizing limited acres of land and natural resources.</i></p>
                        <hr>
                        <h5 class="read-more">Read more:</h5>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <a [routerLink]="['/whitepaper-whatIsPristineSfa']" target="_blank">
                    <div class="block_service">
                        <img src="assets/images/white-papers/sfa-head.png" alt="Pristine SFA">
                        <h5>An assembled and integrated system for your sales and distribution</h5>
                        <p class="text-black"><i>Pristine SFA (Sales Force Automation) empowers sales management to actively observe field sales force, sales employees, and cooperate with the teams.</i></p>
                        <hr>
                        <h5 class="read-more">Read more:</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
