@import "src/styles/custom-variables";

.intelligent-technology {
    padding: 50px 0;

    .heading-section {
        h1 {
            font-size: 40px;
            font-weight: 500 !important;
        }

        a {
            color: $custom-info;
        }
    }

    .blog-entry {
        figure {
            webkit-box-flex: 0;
            -ms-flex: 0 0 190px;
            flex: 0 0 190px;
        }

        &-text {
            h6 {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    .sidebar-box {
        .categories {
            h6 {
                font-size: 18px;
                font-weight: 400;
            }

            li {
                font-size: 15px;

                a {
                    cursor: auto;
                    &:hover {
                        text-decoration: none;
                    }

                    .number {
                        color: $body-color;
                    }

                    .link-text {
                        color: #cccccc;
                    }
                }
            }
        }

        .pristine-agri {
            h6 {
                color: $custom-info;
                font-size: 18px;
            }
        }
    }
}
