<section class="customer-checkout">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">SAP Business One</h1>
            <h4 class="sub-title">Smart ERP Solutions for Your Small to Midsize (SME) Business</h4>
            <hr>
            <a (click)="scroll(contactUs)">
                <img class="heading-img" src="../../../assets/images/sap-business/sap-business.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <p class="lead text-black" data-aos="fade-up" data-aos-duration="1000">Deployed on premise, the SAP Customer Checkout application from Pristine Solutions manages point-of-sale (PoS) transactions and offers real-time sales and inventory updates.</p>
            </div>
            <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
                <p class="text-black mb-4" data-aos="fade-up" data-aos-duration="1000">Give your sales team the POS capabilities they need to succeed in sports and entertainment, retail, merchandising, and catering. SAP Customer Checkout meets all standard POS needs and may be connected with ERP systems to provide additional functionality.</p>
                <ul class="list-unstyled mb-5">
                    <li class="mb-1">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p>
                                On-premise deployment.
                            </p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p>
                                Intuitive and offline-capable POS system.
                            </p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p>
                                Standalone solution or integrated with SAP S/4HANA or other ERP systems.
                            </p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p>
                                One solution for retail, quick service, and table service.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 text-left heading-section mb-5">
                <img src="assets/images/customer-checkout/CCO-from.png" alt="SAP Customer Checkout from Pristine Solutions" class="img-fluid" data-aos="fade-up" data-aos-duration="1000">
            </div>
        </div>
    </div>

    <div class="benefits">
        <div class="container">
            <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="">KEY BENEFITS</h2>
            </div>
            <div class="row pb-4">
                <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="section-grid">
                        <img class="grid-img" src="assets/images/customer-checkout/KBa.svg" alt="">
                        <h3>Use as a standalone or integrated solution</h3>
                        <p>
                            Integrating with SAP Business One, SAP Business ByDesign, SAP S/4HANA or other ERP systems allows you to send transactions straight to your warehouse management and accounting apps.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="section-grid">
                        <img class="grid-img" src="assets/images/customer-checkout/KBb.svg" alt="">
                        <h3>Optimize POS processes for your business</h3>
                        <p>
                            Get the proper user interface suited to your retail, merchandising, catering, or sports and entertainment business.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="section-grid">
                        <img class="grid-img" src="assets/images/customer-checkout/KBc.svg" alt="">
                        <h3>Choose your own PoS device</h3>
                        <p>
                            Profit from SAP Customer Checkout's hardware device independence and operate the solution on any point-of-sale equipment customized to your organization.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="capabilities">
        <div class="container">
            <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
                <div class="text-center page-heading-section mb-5">
                    <h2 class="text-black mb-2">Key Capabilities</h2>
                </div>
            </div>
            <div class="row text-black">
                <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <h3>Centralized sales processes</h3>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Manage all point-of-sale functions, such as article selection, discounts, returns, tax deduction, payment methods, and loyalty management.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Table management functionality allows you to track table service in catering.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <h3>Flexible payment options</h3>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Pay with cash, credit card, or invoice; integrate a payment terminal; or expand the solution by offering a cashless payment option via plug-ins.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        With a few clicks, you can split payments, pay in several currencies, and integrate customer orders.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Allow loyal consumers to pay using their loyalty points.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <h3>Master data management</h3>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Manage master data for articles, price lists, and customers directly in SAP Customer Checkout manager or in your fully connected ERP system.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Through real-time synchronization, data may be updated in less than a minute.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <h3>Real-time integration</h3>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        SAP Customer Checkout may be used as a stand-alone solution with a simple installation and configuration process.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        By connecting the solution with an ERP system, you may send transactions straight to your warehouse management system for same-day analysis.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <h3>Accurate, real-time reporting</h3>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Access real-time reports to see out how much money is made by shop, cashier, or item.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Maintain control over your financial performance and obtain all necessary data on the same day.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Analyze sales data in SAP Customer Checkout manager, or go further into specific insights for connecting with ERP systems and SAP Analytics Cloud.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <h3>Extensibility</h3>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Extend and customize SAP Client Checkout by utilizing plug-ins to satisfy particular customer needs and fill last-mile gaps.
                                    </p>
                                </div>
                            </li>
                            <li class="mb-1">
                                <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                                    <p>
                                        Integrate with additional SAP products, such as SAP Analytics Cloud, to expand your possibilities even further.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="technical-information">
        <div class="container">
            <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="">TECHNICAL INFORMATION</h2>
            </div>
            <div class="row pb-5">
                <a class="col-lg-4 mb-4">
                    <div class="section-grid" data-aos="fade-up" data-aos-duration="1000">
                        <img class="grid-img" src="assets/images/customer-checkout/TIa.svg" alt="">
                        <h3><b>Installation</b></h3>
                        <p>
                            Follow the setup instructions to get SAP Customer Checkout up and running fast.
                        </p>
                    </div>
                </a>
                <a class="col-lg-4 mb-4">
                    <div class="section-grid" data-aos="fade-up" data-aos-duration="1000">
                        <img class="grid-img" src="assets/images/customer-checkout/TIb.svg" alt="">
                        <h3><b>Configuration</b></h3>
                        <p>
                            With our comprehensive setup guide, you can optimize the setting of SAP Customer Checkout.
                        </p>
                    </div>
                </a>
                <a class="col-lg-4 mb-4">
                    <div class="section-grid" data-aos="fade-up" data-aos-duration="1000">
                        <img class="grid-img" src="assets/images/customer-checkout/TIc.svg" alt="">
                        <h3><b>Product features</b></h3>
                        <p>
                            Explore SAP Customer Checkout capabilities that can assist you in digitizing your point-of-sale procedures.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<br>
<section class="contact-form customer-checkout" #contactUs>
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h4>Get Started!</h4>
        <p>Jump-start your implementation and drive ROI by collaborating with industry experts, consultants, and support engineers throughout your journey.</p>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
