<section class="careers">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">
                Life at PRISTINE
            </h1>
            <h4 class="sub-title">At Pristine you will enjoy, fun & challenging platform which enables you to grow at a fast rate.</h4>
            <hr>
            <div>
                <img class="heading-img" src="assets/images/careers/career-banner.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <p class="subtitle-color" data-aos="fade-up" data-aos-duration="1000">
            We believe in mutual growth and making an impact on a business by implementing and supporting the right solution to help clients reach their goals meanwhile we will not forget to have fun!
        </p>
    </div>
    <hr>
    <div class="container">
        <section class="success-stories mb-5 pb-5">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “I really like working in a challenging environment and I love the culture of Pristine. Moreover Pristine gives lot of opportunities to grow. Some of the achievements are being first SAP Business One consultant in Sri Lanka and being selected for people’s choice award of Pristine twice.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-3.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Prageeth P M Wanigasuriya</h3>
                            <p class="font-size-20 text-black">Head of International Business</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Working here has provided me with the time &amp; space to thoughtfully consider new approaches that could assist me in managing work efficiently. Getting awarded as one of the upcoming employees of the year 2018 was one of the proud moments I had.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-2.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Danushi Weththasinghe</h3>
                            <p class="font-size-20 text-black">Associate Consultant</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Life at Pristine has been a memorable &amp; energetic journey. Been recognized as an upcoming employee of the year 2018 was one of those best moments I have achieved in my career.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-1.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Chathura Fernando</h3>
                            <p class="font-size-20 text-black">Associate Consultant</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Joining Pristine is one of the best decisions I have made. I can get lot of experience since I’m a newbie to this working routine. Plus the environment is so carefree”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-4.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Manuja Abeygunawardana</h3>
                            <p class="font-size-20 text-black">Trainee Quality Assurance Engineer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “I really like working in a challenging environment and I love the culture of Pristine. Moreover Pristine gives lot of opportunities to grow. Some of the achievements are being first SAP Business One consultant in Sri Lanka and being selected for people’s choice award of Pristine twice.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-3.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Prageeth P M Wanigasuriya</h3>
                            <p class="font-size-20 text-black">Head of International Business</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Working here has provided me with the time &amp; space to thoughtfully consider new approaches that could assist me in managing work efficiently. Getting awarded as one of the upcoming employees of the year 2018 was one of the proud moments I had.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-2.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Danushi Weththasinghe</h3>
                            <p class="font-size-20 text-black">Associate Consultant</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Life at Pristine has been a memorable &amp; energetic journey. Been recognized as an upcoming employee of the year 2018 was one of those best moments I have achieved in my career.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-1.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Chathura Fernando</h3>
                            <p class="font-size-20 text-black">Associate Consultant</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Joining Pristine is one of the best decisions I have made. I can get lot of experience since I’m a newbie to this working routine. Plus the environment is so carefree”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-4.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Manuja Abeygunawardana</h3>
                            <p class="font-size-20 text-black">Trainee Quality Assurance Engineer</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “I really like working in a challenging environment and I love the culture of Pristine. Moreover Pristine gives lot of opportunities to grow. Some of the achievements are being first SAP Business One consultant in Sri Lanka and being selected for people’s choice award of Pristine twice.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-3.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Prageeth P M Wanigasuriya</h3>
                            <p class="font-size-20 text-black">Head of International Business</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Working here has provided me with the time &amp; space to thoughtfully consider new approaches that could assist me in managing work efficiently. Getting awarded as one of the upcoming employees of the year 2018 was one of the proud moments I had.”
                        </p>
                        <figure>
                            <img src="assets/images/careers/preview-2.jpeg" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Danushi Weththasinghe</h3>
                            <p class="font-size-20 text-black">Associate Consultant</p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </section>
    </div>
</section>
