<section class="awards" id="services-section">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center heading-section mb-5">
                    <h2 class="title">Awards &amp; Accolades</h2>
                    <h4 class="sub-title">We are proud of the external recognition we have gained through the awards we have won around the world.</h4>
                </div>
            </div>
        </div>

        <div class="row mb-5">

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2021</h2>
                    <p class="text-black">
                        •	Best Mid-market Cloud Deal.<br>
                        •	Impact Partner of the Year - SAP Business ByDesign.<br>
                        •	Impact Partner of the Year - SAP Business One (South).
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2020</h2>
                    <p class="text-black">
                        •	Emerging SAP Business ByDesign Partner of the Year - India Subcontinent.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2019</h2>
                    <p class="text-black">
                        •	Awarded Top Partner for HANA adoption – Sri Lanka.<br>
                        •	SAP Seedex Innovative Solution Development award – Gold winner.<br>
                        •	Completed over 150 SAP Business One implementations.<br>
                        •	Commenced SAP Business ByDesign implementations with two clients.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2018</h2>
                    <p class="text-black">
                        •	SAP Seedex Innovative Solution Development award – Gold winner.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2017</h2>
                    <p class="text-black">
                        •	SAP Partner of the Year – Sri Lanka.<br>
                        •	Completed over 100 SAP Business One implementations in Sri Lanka.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2016</h2>
                    <p class="text-black">
                        •	Awarded as HANA Partner of the Year - Asia Pacific and Japan.<br>
                        •	Awarded as Enterprise Partner of the Year - Asia Pacific and Japan.<br>
                        •	Appointed EBM partners to expand SAP Business One reach to clients.<br>
                        •	SAP Partner of the Year – Sri Lanka.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2015</h2>
                    <p class="text-black">
                        •	Completed 50 SAP Business One implementations in Sri Lanka.<br>
                        •	SAP Partner of the Year – India Subcontinent.<br>
                        •	Became SAP Gold partner and master value added reseller.<br>
                        •	Twelve new SAP Business one on HANA clients within 4 month
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2014</h2>
                    <p class="text-black">
                        •	SAP Partner of the Region - SAP India award.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2013</h2>
                    <p class="text-black">
                        •	Won national best quality software award for Tea One (Industry add on for tea exports) on SAP Business One.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2012</h2>
                    <p class="text-black">
                        •	Won National Best Quality Software Award for workflow solution built for SAP.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2011</h2>
                    <p class="text-black">
                        •	Developed workflow add on for SAP Business One.<br>
                        •	5 more SAP Business One implementations completed.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2010</h2>
                    <p class="text-black">
                        •	Completed 4 more SAP Business One implementations.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <h2>2009</h2>
                    <p class="text-black">
                        •	SAP partnership as EBM Partner.<br>
                        •	First SAP Business one implementation.
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>
