/* You can add global styles to this file, and also import other style files */
@import "custom-variables";
@import "bootstrap/bootstrap";

body {
    font-family: "Open Sans", sans-serif !important;
}
h1 {
    font-weight: 700 !important;
}
h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}
.modal-title {
    font-size: 16px;
    font-weight: 500;
}
.font-14 {
    font-size: 14px;
}

.semi-bold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, .25) !important;
}
.font-15 {
    font-size: 15px;
}

.page-title {
    font-size: 32px;
    font-weight: 900 !important;
    margin-bottom: 8px;
}

.page-subtitle {
    color: #000000;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-weight: 400;
    border-bottom: 1px solid $input-border-color;
}

.section {
    padding: 80px 0;
}

.section-grid {
    .grid-img {
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
    }

    h3 {
        margin-bottom: 16px;
    }

    p {
        letter-spacing: -0.5px;
    }
}

.btn-learn-more {
    background: #a2c0be;
    border-color: #a2c0be;
    color: #fff;

    &:hover {
        background: #000;
        border-color: #000;
        color: #fff;
    }
}

.page-heading-section {
    text-align: center;
    padding: 60px 0 50px;

    .title {
        font-size: 40px;
        font-weight: 700 !important;
        margin-bottom: 40px;

        .post-meta {
            line-height: 1.7;
            color: gray;
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .sub-title {
        color: $subtitle-color;
    }

    .heading-img {
        width: 100%;
    }
}

.contact-form {
    background-color: $header-bg;
    padding: 48px 0;

    &.customer-checkout {
        background-color: $white !important;
    }

    h4,p {
        color: $subtitle-color;
        margin-bottom: 16px;
    }

    p {
        font-size: 20px;
        font-weight: 300;
    }
}

.lead {
    font-size: 20px;
    font-weight: 300;
}

.subtitle-color {
    color: $subtitle-color;
}
