<section id="about" class="webinar-azure wow fadeInUp">
    <div class="container">

        <img class="contactflag d-block mx-auto img-fluid" align="centre" src="assets/images/webinars/webinar-azure-registration.png" alt="">

    </div>
    <div class="container">
        <br>
        <div class="row">

            <div class="col-lg-6 content">
                <h2 class="cloud-migration-title"><b>Cloud Migration - Simplified</b></h2>
                <p class="text-black mb-3">Join this webinar to learn how to seamlessly migrate your workloads to cloud.
                    <br>
                    We will enlighten you with a dynamic learning experience combined with customer examples.
                </p>
                <ul class="fa-ul mb-0">
                    <li class="text-black"><b>Date:</b> 08 DEC 2021 &nbsp; | &nbsp; <b>Time:</b> 3.00pm (SLST)</li>
                </ul>
                <hr>
                <p class="key-point-title"><i><b>Key points covered:</b></i>
                </p>
                <ul class="text-black list-unstyled">
                    <li>➊ Easily migrate your SAP and on-premises workloads to cloud.</li>
                    <li>➋ Run on Industry leading security with Advanced protection and high availability.</li>
                    <li>➌ Enable secure hybrid work with Windows 365 &amp; Virtual Desktop.</li>
                    <li>➍ Derive real-time and predictive insights from your SAP data.</li>
                </ul>
                <p></p>

            </div>

            <div class="col-lg-6 content">
                <br>
                <p class="text-black key-point-title"><i><b>Book your FREE seat:</b></i></p>

            </div>

        </div>
    </div>
</section>
