<section class="business-one">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">
                <b>Agri One</b>
                <span class="post-meta d-block">• by Pristine Solutions •</span>
            </h1>
            <h4 class="sub-title">Automate & Digitize your Agricultural Business</h4>
            <hr>
            <a (click)="scroll(contactUs)">
                <img class="heading-img" src="assets/images/agri/agri-banner.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row mb-5 mb-lg-5">
            <div class="mb-5 mb-lg-0 col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/images/agri/agriOne.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead mb-4 text-muted">The Agri One by Pristine Solution is a comprehensive, integrated business solution designed specifically for agriculture- industrial organizations to support the full life cycle of agriculture operations with highly scalable, tightly integrated solution that empowers both farm and buyer managers to make timely, intelligent business decisions based on accurate, up-to-the-minute data.</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mb-5 pb-5">
            <img src="assets/images/agri/agri-1.png" alt="Planning &amp; Scheduling" class="img-fluid"  data-aos="fade-up" data-aos-duration="500">
            <img src="assets/images/agri/agri-2.png" alt="Planting &amp; Growing" class="img-fluid"  data-aos="fade-up" data-aos-duration="600">
            <img src="assets/images/agri/agri-3.png" alt="Agriculture Activity " class="img-fluid"  data-aos="fade-up" data-aos-duration="700">
            <img src="assets/images/agri/agri-4.png" alt="Harvesting" class="img-fluid"  data-aos="fade-up" data-aos-duration="800">
            <img src="assets/images/agri/agri-5.png" alt="Post Production" class="img-fluid"  data-aos="fade-up" data-aos-duration="900">
            <img src="assets/images/agri/agri-6.png" alt="Human Resources" class="img-fluid"  data-aos="fade-up" data-aos-duration="500">
            <img src="assets/images/agri/agri-7.png" alt="Inventory" class="img-fluid"  data-aos="fade-up" data-aos-duration="600">
            <img src="assets/images/agri/agri-8.png" alt="Finance" class="img-fluid"  data-aos="fade-up" data-aos-duration="700">
            <img src="assets/images/agri/agri-9.png" alt="Contract Farming" class="img-fluid"  data-aos="fade-up" data-aos-duration="800">
            <img src="assets/images/agri/agri-10.png" alt="Sales &amp; Distribution" class="img-fluid"  data-aos="fade-up" data-aos-duration="900">
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
                <h2 class="text-black mb-3"><b>Farm Detector</b></h2>
                <hr>
                <p class="text-black mb-4">Pristine farm detector rapidly and repeatedly collects and analyze comprehensive imagery of the farm and provide aerial data into actionable business insights such as analyzing NDVI (Normalized Difference Vegetation Index), row vectorization, plant height, health level, number of tree count, etc. It is capable of automatically defining the geolocation of field boundaries and maps of the fields at crop level. No need to walk around the field to get information, you can leave that to Pristine farm Detector.</p>

            </div>
            <div class="col-lg-6 text-left heading-section mb-5" data-aos="fade-up" data-aos-duration="1000">
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                    <span class="play">
                        <span class="icon-play"></span>
                      </span>
                    <img src="assets/images/agri/agrione-farmdetector.jpeg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>

        <div class="benefits" id="benefits">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="text-center heading-section mb-5">
                    <h5><b>Benefits of AgriOne Solution:</b></h5>
                    <hr>
                    <p>A host of user-friendly traits made exclusively available to keep the business thriving at an unprecedented rate!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-complete.png" alt="Image mb-5">
                        <h6>Complete Overview for Top Management</h6>
                        <p>From different perspectives of business with up to the minute critical data analysis and report generation system.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-total.png" alt="Image mb-5">
                        <h6>Total Control over Business</h6>
                        <p>Through automatic alerts, workflows and key business events management.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="200">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-stream.png" alt="Image mb-5">
                        <h6>Streamlining of Business</h6>
                        <p>Through complete integration of key areas of business-like sales, purchase, materials, finance, production and HR.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-increase.png" alt="Image mb-5">
                        <h6>Increase Profitability</h6>
                        <p>By identifying causative factors for lesser efficiency in different units through comparative analysis of standard or planned versus actual scenario.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-expand.png" alt="Image mb-5">
                        <h6>Expand Business Opportunities</h6>
                        <p>By proper decision support system based on planning and projection generated.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-go.png" alt="Image mb-5">
                        <h6>Go where your business takes you</h6>
                        <p>Access your data on mobile devices, check plantation information, etc.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <img src="assets/images/agri/agriOne-icn-availavility.png" alt="Image mb-5">
                        <h6>Availability of Real-Time data</h6>
                        <p>Across every level of the organization.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="key-feature" id="key-feature">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="text-center heading-section text-black mb-5">
                    <h5><b>Key Features Included in AgriOne:</b></h5>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Managing multiple sites, crops and farms.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Planning and Scheduling all agriculture activities; Site, Crop or Plot-wise.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="block_service">
                        <h6>Tracking all agriculture activities with actual inputs.</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Analyzing Planned Projections vs Actual Records.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Managing post production.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="block_service">
                        <h6>Recording sales and distribution details.</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Task allocation and monitoring allocated tasks.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Traceability of all materials, machines and manpower utilization.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Customizable to suit user’s exact requirement.</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Configurable notifications and alerts.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6>Reports, Dashboard with advanced analytics.</h6>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="block_service">
                        <h6></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="contact-form" #contactUs>
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h4>Book your Free Demo:</h4>
        <p>Our industry experts, consultants, and support engineers are here for you.</p>
        <div class="row">
            <div class="col-md-12" id="hubspotForm"></div>
        </div>
    </div>
</section>
