<section class="resources" id="trainers-section">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="100">
            <div class="col-lg-7 text-center heading-section mb-5">
                <div class="paws white">
                    <span class="icon-paw"></span>
                </div>
                <h2 class="mb-2 heading py-5">DOWNLOADABLE RESOURCES</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="100">
                <div class="trainer text-center">
                    <a href="http://www.pristineworldwide.com/downloads/PSL_SFA-Product-Broacher_v103.pdf" target="_blank">
                        <div class="px-md-3">
                            <h5>Pristine SFA</h5>
                        </div>
                        <figure>
                            <img src="assets/images/resources/resources-sfa.png" alt="Image" class="img-fluid">
                        </figure>
                    </a>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="100">
                <div class="trainer text-center">
                    <a href="http://www.pristineworldwide.com/downloads/SAP-Business-One-Pristine-Brochure.pdf" target="_blank">
                        <div class="px-md-3">
                            <h5>SAP Business One</h5>
                        </div>
                        <figure>
                            <img src="assets/images/resources/resources-sap-b1.png" alt="Image" class="img-fluid">
                        </figure>
                    </a>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-right" data-aos-duration="100">
                <div class="trainer text-center">
                    <a href="http://www.pristineworldwide.com/downloads/SAp-Business-ByDesign-PDF.pdf" target="_blank">
                        <div class="px-md-3">
                            <h5>SAP Business ByDesign</h5>
                        </div>
                        <figure>
                            <img src="assets/images/resources/resources-sap.png" alt="Image" class="img-fluid">
                        </figure>
                    </a>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-right" data-aos-duration="200">
                <div class="trainer text-center">
                    <a href="http://www.pristineworldwide.com/downloads/agri-one-brochure.pdf" target="_blank">
                        <div class="px-md-3">
                            <h5>Pristine AgriOne</h5>
                        </div>
                        <figure>
                            <img src="assets/images/resources/resources-psl.png" alt="Image" class="img-fluid">
                        </figure>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
