<section class="business-one ">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title"><b>SAP S/4 HANA</b></h1>
            <h4 class="sub-title">A Modern ERP Solution for Your Business’s Ever-Changing Needs</h4>
            <hr>
            <div>
                <img class="heading-img" src="../../../assets/images/sap-business/sap-business.png" alt="">
            </div>
            <div class="row justify-content-center aos-init aos-animate">
                <div class="col-lg-12 align-self-center mr-auto text-center mb-5 mt-5">
                    <p class="lead subtitle-color">Grow your business with the help of SAP S/4 HANA. This ERP solution helps organizations meet customers demands created by new business opportunities. Whether you’re growing in an existing industry vertical and or reaching out to new ones, SAP S/4 HANA can help you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 align-self-center mr-auto text-left heading-section mb-5">
            <h3 class="subtitle-color" data-aos="fade-up" data-aos-duration="1000">SAP S/4 HANA equips you to:</h3>
            <hr>
            <ul class="list-unstyled mb-5">
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Meet the needs of industry-specific requirements.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Transform your business operations by automating business intelligence.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Make better-informed decisions through its conversation interface and digital assistance.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Use hybrid, cloud and on-premise scenarios. Whatever option you choose, you share a consistent data model, code line, and user experience.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-12 align-self-center mr-auto text-left heading-section mb-5">
            <h3 class="subtitle-color">Key Benefits of S/4 HANA:</h3>
            <hr>
            <ul class="list-unstyled mb-5">
                <li class="subtitle-color mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Access real-time product availability every time a customer order is placed.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Manage your supply chain more effectively by having real-time access to material requirements planning and purchase requisitioning.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Benefit from intelligent remediation by predicting delivery delays and reducing their impact on your business.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Stay on top of financial and corporate reporting requirements by having immediate access to up-to-the-minute, forward-looking analytics.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-12 align-self-center mr-auto text-left heading-section mb-5 pb-4">
            <h3 class="subtitle-color">Key Capabilities:</h3>
            <hr>
            <p class="subtitle-color"><b>Giving you all the industry depth you need to operate your business efficiently!</b></p>
            <ul class="list-unstyled mb-5">
                <li class="subtitle-color mb-1">
                    <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Provides support for a wide variety of industry-specific business processes.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Transforms your business model by providing unique, modern revenue capabilities such as subscription and consumption-based billing for your products.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Enables you to create new, customer-driven products and services, all while providing you with flexible configuration, pricing, and quoting capabilities.
                        </p>
                    </div>
                </li>
                <li class="subtitle-color mb-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="d-inline-flex">
                        <i class="mt-1 mr-3 text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <p>
                            Allows you to monitor contract performance with real-time access to profitability analysis and revenue recognition data.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
