<section class="machine-learning">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title text-black">MACHINE LEARNING</h1>
            <hr>
            <div>
                <img class="heading-img" src="assets/images/machine-learning/machine-learning-banner.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left heading-section mb-5">
                <p class="lead mb-5">Machine Learning focuses on development of computer programs that can access data and use it to learn for themselves.
                </p>
                <p>This technology is an application of Artificial Intelligence (AI) which makes a system automatically learn and improve from experience without being explicitly programmed.
                </p>
                <p>Machine Learning is capable of analyzing massive data quantities. It generally delivers faster, more accurate results in order to identify profitable opportunities or dangerous risks.
                </p>
                <p>Machine Learning, AI &amp; Cognitive Technologies can be a very effective combination when processing large volumes of information.
                </p>

                <br><br>

                <h3>Most Common Machine Learning Algorithms:</h3>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
                        <div class="block_service">
                            <h6>Supervised Learning</h6>
                            <p>Occurs when an algorithm learns from example data and associated target responses that can consist of numeric values or string labels, such as classes or tags, in order to later predict the correct response when posed with new examples.</p>
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="100">
                        <div class="block_service">
                            <h6>Unsupervised Learning</h6>
                            <p>Occurs when an algorithm learns from plain examples without any associated response, leaving the algorithm to determine the data patterns on its own.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="200">
                        <div class="block_service">
                            <h6>Reinforcement Learning</h6>
                            <p>Using this algorithm, the machine is trained to make specific decisions. The machine is exposed to an environment where it trains itself continually using trial and error.</p>
                        </div>
                    </div>

                </div>

                <br>

                <h3>Machine learning is widely applicable for:</h3>
                <hr>
                <ul class="list-unstyled text-black mb-5 pb-4" data-aos="fade-up" data-aos-duration="1000">
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Healthcare Industry</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Financial Service Industry</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">The Retail Industry</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">The Automotive Industry</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Government Agencies</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Transportation Industry</p>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-inline-flex">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Oil &amp; Gas Industry</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
