<section class="sap-apparel">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">SAP Apparel</h1>
            <h4 class="sub-title">Apparel and footwear solutions</h4>
            <hr>
            <a href="/contact-us#contactUs">
                <img class="heading-img" src="assets/images/sap-apparel/sap-apperel-banner.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 align-self-center mr-auto text-left text-black mb-5" data-aos="fade-up" data-aos-duration="1000">
                <p class="lead">Pristine is capable of providing the solution for the apparel sector with the collaboration of its partners.</p>
                <p class="text-muted mb-3">Apparel and Footware solution will help to build strong customer relationships with integrated customer relationship management, becoming more efficient by eliminating data redundancies and errors. Process covers from sample room, design and tech pack to production and shipping.</p>
                <img src="assets/images/sap-apparel/hero-products.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 text-left heading-section mb-5" data-aos="fade-up" data-aos-duration="1000">
                <img src="assets/images/sap-apparel/nav-sapapparel.jpeg" alt="Image" class="img-fluid">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 text-center text-black mb-5" data-aos="fade-up" data-aos-duration="1000">
                <h5><b>Key Capabilities of SAP Apparel:</b></h5>
                <hr>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-lg-flex blog-entry">
                    <div class="blog-entry-text">
                        <h3><a>1. Integrated Sales</a></h3>
                        <p>Supports to create price quotes, enter customer orders, set up deliveries, update inventory balances and manage all invoices and accounts receivables.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-lg-flex blog-entry">
                    <div class="blog-entry-text">
                        <h3><a>2. Easy to Procure</a></h3>
                        <p>SAP Apparel and Footwear solution provides an end-to-end systematic approach to the procurement process. It manages and maintains your vendor contracts and transactions, including the issue of purchase orders, updates to inventory quantities, calculations for the value of imported items, returns and credits and payment processing.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-lg-flex blog-entry">
                    <div class="blog-entry-text">
                        <h3><a>3. Inventory Support</a></h3>
                        <p>Enabling you to manage your data at the end item level to successfully forecast, plan and manufacture products, delivering the right product by controlling inventories.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-lg-flex blog-entry">
                    <div class="blog-entry-text">
                        <h3><a>4. Efficient Manufacturing</a></h3>
                        <p>Manages Material Requirement Planning (MRP) though a wizard-based process that enables users to define a planning scenario and predict demand based on forecasts.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-lg-flex blog-entry">
                    <div class="blog-entry-text">
                        <h3><a>5. The Circle of Life – PLM</a></h3>
                        <p>Facilitates the effective management of products, from design all the way through production, speeding up your innovation as well as your ROI. The integrated Product Data Management application manage images, colors, materials and POMs, with the ability to add sketches, concepts, documentation and images to the style from a file or an existing drawing tool, all while the system manages raw materials and labor costs.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-lg-flex blog-entry">
                    <div class="blog-entry-text">
                        <h3><a>6. Fashion Book</a></h3>
                        <p>With SAP Apparel and Footwear solution, delivery of accurate collection information taken directly from the system including style and color options and that all-important real-time inventory availability is being done.
                            All data are being presented to the customer in a visually appealing application.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!--<section class="contact-form" #contactUs>-->
<!--    <div class="container">-->
<!--        <h4>Book your Free Demo:</h4>-->
<!--        <p>Our industry experts, consultants, and support engineers are here for you.</p>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" id="hubspotForm"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
