<section class="focus-point">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">FocusPoint™</h1>
            <h4 class="sub-title">The fastest growing eCommerce Solution for SAP Business One on the Market</h4>
            <hr>
            <div>
                <img class="heading-img" src="assets/images/focus-point/focus-point-banner.png" alt="">
            </div>
        </div>
    </div>
    <div class="container focus-point-body">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <p data-aos="fade-up" data-aos-duration="1000">
                    <a href="https://www.pristineworldwide.com/partnerships.php?country=srilanka#focused">Focused Impressions</a>, a certified SAP Solution Provider, provides FocusPoint™ - an eCommerce and marketing platform. This fully integrated software solution manages complex B2B relationships as well as B2C and D2C channels. A uniquely adaptable eCommerce platform, FocusPoint was built using SAP tools to configure any SAP setup including User Defined Objects, Tables and Fields, or Pricing scenarios.
                    <br>The result: SAP Business One users eliminate development costs and time-to-market delays. Frictionless integration &amp; implementation lowers total cost of ownership as customers never have to worry about unexpected eCommerce costs while growing their business.
                </p>
            </div>
        </div>
        <div class="row no-gutters mb-5">
            <div class="col-lg-6 align-self-center" data-aos="fade-up" data-aos-duration="1500">
                <h3>Self-service Portals and Webstores</h3>
                <p class="text-muted mb-3">Tight integrations with unmatched expertise in eCommerce enable the setup of customer self-service portals and webstores in just minutes vs. the days it takes with other solutions. Plus, additional webstores and microsites are setup at no additional charge.</p>
            </div>
            <div class="offset-lg-1 col-lg-5" data-aos="fade-up" data-aos-duration="1500">
                <img src="assets/images/focus-point/rewards.jpeg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row no-gutters mb-5">
            <div class="col-lg-6 align-self-center" data-aos="fade-up" data-aos-duration="1500">
                <h3>Deepest Integration to SAP Business One</h3>
                <p class="text-muted mb-3">Using SAP Business One integration tools, FocusPoint offers the deepest and lowest cost integration to SAP Business One. Core mappings and bi-directional functionality between SAP Business One and FocusPoint are ready to go on day one.</p>
            </div>
            <div class="offset-lg-1 col-lg-5" data-aos="fade-up" data-aos-duration="1500">
                <img src="assets/images/focus-point/sap-screen.jpeg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row no-gutters mb-5">
            <div class="col-lg-6 align-self-center" data-aos="fade-up" data-aos-duration="1500">
                <h3>B2B - B2C - D2C eCommerce & Marketing</h3>
                <p class="text-muted mb-3">FocusPoint gives users one platform for multi-channel capabilities, Incorporating eCommerce, sales, marketing, and Point-of-Sale (POS) – all fully integratable with SAP Business One on SQL or HANA databases.</p>
            </div>
            <div class="offset-lg-1 col-lg-5" data-aos="fade-up" data-aos-duration="1500">
                <img src="assets/images/focus-point/devices.jpeg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
