<section class="tea-one">
    <div class="container">
        <div class="page-heading-section" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="title">
                Tea One
                <span class="post-meta d-block">• by Pristine Solutions •</span>
            </h1>
            <h4 class="sub-title">Smart ERP Solutions for Your Small to Midsize (SME) Business</h4>
            <hr>
            <a [routerLink]="['/contact-us']">
                <img class="heading-img" src="assets/images/tea-one/tea-one-banner.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center text-black">
            <div class="col-lg-12 align-self-center mr-auto text-left mb-5" data-aos="fade-up" data-aos-duration="1000">
                <p class="mb-4">Tea exporters, Tea Auctioneers and Tea plantation are three different variants of the same value chain, each of which has its own unique requirements and pain points to address. Except for SAP Business One, no solution has identified or catered to requirements of all three stakeholders of Tea value chain.
                    <br><br>SAP Business One has specific add on to support tea plantations and requirements of land development, growing and crops. Functionality coverage from inventory management, Payrolls and accounting.
                    <br><br>Tea exporters require data integration from auction through catalog files uploads, blending, Tea board reporting, production, packing, outsourcing to shipping. Challenges for Tea exporters are easily handled in a unique way by SAP Business One and is tried and tested by many Tea exporters in Sri Lanka.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="text-center heading-section text-black mb-5">
                <h5><b>Benefits:</b></h5>
                <hr>
                <p class="lead">A host of user-friendly traits made exclusively available to keep the business thriving at an unprecedented rate!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">

                <div class="block_service">
                    <img src="assets/images/tea-one/teaOne-icn-integreted.png" alt="Image mb-5" width="30%">
                    <h6>Integrated</h6>
                    <p>Fully Integrated with the ERP! This is an inbuilt solution with SAP Business One.
                    </p>
                </div>

            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <img src="assets/images/tea-one/teaOne-icn-fast.png" alt="Image mb-5"  width="30%">
                    <h6>Fast</h6>
                    <p>Get works in real time on any data.</p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <img src="assets/images/tea-one/teaOne-icn-engaging.png" alt="Image mb-5" width="30%">
                    <h6>Engaging</h6>
                    <p>Business Intelligence tools, Dashboards, Graphical Representation.</p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <img src="assets/images/tea-one/teaOne-icn-adapt.png" alt="Image mb-5">
                    <h6>Easy Adaptation</h6>
                    <p>Stress-free customizing due to ease of use.
                    </p>
                </div>

            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="block_service">
                    <img src="assets/images/tea-one/teaOne-icn-cuzto.png" alt="Image mb-5">
                    <h6>Easy Customization</h6>
                    <p>Hassle-free use without restrictions.</p>
                </div>
            </div>


        </div>

        <br>

        <div class="row justify-content-center" data-aos="fade-up">

            <div class="col-lg-6 align-self-center mr-auto text-left heading-section text-black mb-5 pb-5">
                <h5><b>Key Features of TeaOne:</b></h5>
                <hr>
                <ul class="list-unstyled text-black mb-5">
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Tea Auction – Catalogue Upload, Real time purchasing, Purchase confirmation.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Comparison on Pre-Auction and Actual Purchases.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Selection of collectable DO’s and Making follow up.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Tea bag wise weighing – Identifying collection gain &amp; loss.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Tea GRN - Batch/Lot management.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Color Sorting Process – Allocation &amp; Color Sorting.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Blend Allocation – both (weight) kg wise and bag wise, Flavor allocation.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Follows total production process (blending, finishing goods, combining packs and etc.)</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Pre-costing.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Keeping all levels stocks (blend, finished goods).</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Batch Trace.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Complete set of Reports –Functional, Management and Tea board reports.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Integration with ASYCUDA system.</p>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="d-inline-flex" data-aos="fade-up" data-aos-duration="1000">
                            <i class="mt-1 mr-3  text-success" nz-icon nzType="check" nzTheme="outline"></i>
                            <p class="key-capability">Tea Plantation – Handling with SAP and Agri One Solution.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section>
<br>
<!--<section class="contact-form" #contactUs>-->
<!--    <div class="container">-->
<!--        <h4>Book your Free Demo:</h4>-->
<!--        <p>Our industry experts, consultants, and support engineers are here for you.</p>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" id="hubspotForm"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
