<section class="hero-section">
    <div class="hero-section-slider">

    </div>
    <div class="hero-section-text">
        <div class="hero-info">
            <div>
                <h1 class="hero-text">Let us cheer up your business!!</h1>
                <hr>
                <p class="info-text">
                    Pristine Solutions is an international SAP Gold Partner and Microsoft Azure Partner. <br>
                    We are passionate about digitizing your business so you can experience the fastest return on investment.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="solution-offer section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="page-title">
                    SOLUTIONS WE OFFER
                </h2>
                <p class="page-subtitle">
                    Pristine is the leader in SAP Business One solutions in Sri Lanka and the only Gold Partner and OE Service Partner to support SAP Business growth.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="section-grid" data-aos="fade-up" data-aos-duration="1000">
                    <img class="grid-img" src="assets/images/erp.png" alt="">
                    <h3>ERP & Digital Core</h3>
                    <p>
                        Transform into a digital business and meet the new needs of the digital economy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-grid" data-aos="fade-up" data-aos-duration="1000">
                    <img class="grid-img" src="assets/images/analytics.png" alt="">
                    <h3>Analytics</h3>
                    <p>
                        Analytics is the systematic computational analysis of data or statistics.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-grid" data-aos="fade-up" data-aos-duration="1000">
                    <img class="grid-img" src="assets/images/cloud-platform.png" alt="">
                    <h3>Cloud Platform</h3>
                    <p>
                        The availability of resources, data storage and computing, without direct active management.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="industry-support section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="page-title">
                    INDUSTRIES WE SUPPORT
                </h2>
                <p class="page-subtitle">
                    We support numerous industries including Tea, Apparel, Trading and Distribution, Logistic, Project Management and construction,
                    Printing & Packaging, Food & Beverage, Information Technology, Sales, Health Care Industry & hospitals.
                    Pristine comprehends experience in Enterprise solutions for over a decade since 2005.
                </p>
                <button class="btn btn-secondary mb-5" [routerLink]="['/industry']">More about our Industries</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/customer-product.png" alt="">
                    <h3>Consumer Products - eCommerce SAP Business One integration</h3>
                    <p>
                        This solution allows you to produce and distribute your products and achieve the key benefits of an eCommerce business.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/professional-service.png" alt="">
                    <h3>Professional Services/Project Management</h3>
                    <p>
                        We provide industry-focused expertise that increases project efficiency and helps the client achieve performance that maximizes productivity of project personnel.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/agriculture.png" alt="">
                    <h3>Agriculture</h3>
                    <p>
                        SAP Business One provides a unified system that allows in actively managing all the business operations of a farming unit.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/logistics.png" alt="">
                    <h3>Logistics</h3>
                    <p>
                        SAP Business One is ready solution for all trading and distribution companies of any size and geography.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/tea.png" alt="">
                    <h3>Tea</h3>
                    <p>
                        SAP Business One is ready solution for all trading and distribution companies of any size and geography.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/apparel.png" alt="">
                    <h3>Apparel</h3>
                    <p>
                        Apparel and footwear solution manage the entire business in a single system.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/food.png" alt="">
                    <h3>Food & Beverage</h3>
                    <p>
                        SAP Business One caters to specific requirements of the food industry and provides industry-specific solutions.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
                <a class="section-grid" [routerLink]="['/industry']">
                    <img class="grid-img" src="assets/images/industry-support/construction.png" alt="">
                    <h3>Construction</h3>
                    <p>
                        For construction industry project management expands to another level including pre and post costing, managing estimates verses actuals.
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="technology section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="w-lg-50 mb-5">
                <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="page-title">
                        TECHNOLOGY
                    </h2>
                    <p class="page-subtitle">
                        At Pristine, we make sure that your business has full access to the newest technologies in eCommerce.
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-4">
                <div class="inner-box box-one">
                    <img src="assets/images/technology/iot.png" alt="">
                    <hr>
                    <h3 class="box-title">IOT</h3>
                    <p class="box-info-text">Providing a networked technology for physical objects such as vehicles, machines, home appliances & etc.</p>
                    <ul class="list-unstyled ul-check mb-5">
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i> New business models</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i> Operational efficiency</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i> Workforce productivity</li>
                    </ul>
                    <button class="btn btn-learn-more" [routerLink]="['/technology-iot']">
                        Learn more
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inner-box box-two">
                    <img src="assets/images/technology/iot.png" alt="">
                    <hr>
                    <h3 class="box-title">BLOCKCHAIN</h3>
                    <p class="box-info-text">A system where we can simplify multi-party processes and build trust amongst participants.</p>
                    <ul class="list-unstyled ul-check mb-5">
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Business Process Centered</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Networks Experience</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>BaaS Abstraction Layer</li>
                    </ul>
                    <button class="btn btn-learn-more" [routerLink]="['/technology-blockchain']">
                        Learn more
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inner-box box-three">
                    <img src="assets/images/technology/iot.png" alt="">
                    <hr>
                    <h3 class="box-title">MACHINE LEARNING</h3>
                    <p class="box-info-text">BundleB2B automatically learns and improves itself with no additional programming required.</p>
                    <ul class="list-unstyled ul-check mb-5">
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Supervised learning</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Unsupervised Learning</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Reinforcement Learning</li>
                    </ul>
                    <button class="btn btn-learn-more" [routerLink]="['/technology-machine-learning']">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="success-stories section">
    <div class="container">
        <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="text-center">
                <h2 class="page-title">
                    CUSTOMER SUCCESS STROIES
                </h2>
                <p class="page-subtitle">
                    Hear from Real Customers! Learn how our solutions benefit their businesses.
                </p>
                <button class="btn btn-secondary mb-5" [routerLink]="['/success-stories']">Watch Testimonials</button>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “Pristine’s professional approach during the entire process should be mentioned. We are confident that our relationship with SAP will be fruitful and would continue for years to come.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/amazon.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Niluza Badurdeen</h3>
                        <p class="font-size-20 text-black">Manager – Business Strategies & Finance
                            <br><b>Amazon Trading (Pvt.) Ltd.</b></p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “SAP solution provided well equipped integrated system which facilitate lot of support to achieve their business goals.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/primo.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Lahiru Jayashan</h3>
                        <p class="font-size-20 text-black">Accountant
                            <br><b>Premier Synthetic Leather Manufacturers (Pvt) Ltd</b></p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “As a real estate company the customization tools are very important to match the SAP system with our requirement.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/prime.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Gihan Sameera Perera</h3>
                        <p class="font-size-20 text-black">System Administrator - ERP
                            <br><b>Prime Lands (Pvt) Ltd</b></p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “SAP Business One is very user friendly that it allows many modifications where users can do by themselves.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/resus.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Kavinda Perera</h3>
                        <p class="font-size-20 text-black">Senior Manager – Finance
                            <br><b>Resus Energy PLC</b></p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “SAP solution bring Single integrated business solutions to sort out business solutions and future direction.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/biomed.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Indika Gamage</h3>
                        <p class="font-size-20 text-black">General Manager- Finance
                            <br><b>Biomed Scientific</b></p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “We had a successful SAP Business One implementation back in 2016. All business segments of the 2nd largest tea exporter in Sri Lanka were connected to one platform. Especially with a tailor made add-on, TeaOne.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/anverally.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Amal Mudunkotuwa</h3>
                        <p class="font-size-20 text-black">Former Accountant
                            <br><b>Anverally &amp; Sons (Pvt.) Ltd.</b></p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <p class="quote-message">
                        “Pristine’s professional approach during the entire process should be mentioned. We are confident
                        that our relationship with SAP will be fruitful and would continue for years to come.”
                    </p>
                    <figure>
                        <img src="assets/images/testimonials/technomedics.png" alt="">
                    </figure>
                    <div class="text-center">
                        <h3 class="font-size-20 text-black">Nishad Janake</h3>
                        <p class="font-size-20 text-black">Assitant General Manager – IT
                            <br><b>Technomedics International</b></p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<section class="services section">
    <div class="container">
        <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="w-lg-50">
                <div class="text-center">
                    <h2 class="page-title">
                        SERVICES WE ACCOMMODATE
                    </h2>
                    <p class="page-subtitle">
                        We accomodate the following services to help you run your business to its highest potential.
                    </p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="inner-box box-one" data-aos="fade-up" data-aos-duration="1000">
                    <h4>PROJECT MANAGEMENT</h4>
                    <hr>
                    <img src="assets/images/services/nav-project.png" alt="">
                    <p class="box-info-text">Industry standard project management methodologies with best practice processes and techniques have been the key criteria for success in our engagements.</p>
                    <button class="btn btn-learn-more" [routerLink]="['/project-management']">
                        Learn more
                    </button>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="inner-box box-two" data-aos="fade-up" data-aos-duration="1000">
                    <h4>SUPPORT SERVICES</h4>
                    <hr>
                    <img src="assets/images/services/nav-training.png" alt="">
                    <p class="box-info-text">Our focused customer support team will contact you on any inquiry you have related to post-implementation services. Use our support portal to log a request or call our support team directly.</p>
                    <button class="btn btn-learn-more" [routerLink]="['/support-service']">
                        Learn more
                    </button>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="inner-box box-three" data-aos="fade-up" data-aos-duration="1000">
                    <h4>CONSULTING</h4>
                    <hr>
                    <img src="assets/images/services/nav-consulting.png" alt="">
                    <p class="box-info-text">Our professional services group has the technical expertise, diverse knowledge, and customer service training to make sure that solutions we offer enables you to meet your business goals.</p>
                    <button class="btn btn-learn-more" [routerLink]="['/consulting']">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners section">
    <div class="container">
        <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="w-lg-50">
                <div class="text-center">
                    <h2 class="page-title">
                        OUR PARTNERS
                    </h2>
                    <p class="page-subtitle">
                        Working with technology leaders, we bring the best technologies on the market to make the most of your business.
                    </p>
                    <button class="btn btn-secondary mb-5" [routerLink]="['/partnerships']">View all Partners:</button>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-4">
                <div class="partners-grid" data-aos="fade-up" data-aos-duration="1000">
                    <div class="partners-img">
                        <img src="assets/images/partners/sap-gold.png" alt="">
                    </div>
                    <div class="partners-details">
                        <h3 class="title"><a>SAP Gold Partner</a></h3>
                        <p class="text-black">We are the only Gold partner for SAP Business One in Sri Lanka</p>
                        <p class="learn-more-link"><a class="" [routerLink]="['/partnerships']">Learn More..</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="partners-grid" data-aos="fade-up" data-aos-duration="1000">
                    <div class="partners-img">
                        <img src="assets/images/partners/microsoft.png" alt="">
                    </div>
                    <div class="partners-details">
                        <h3 class="title"><a>Microsoft Partner</a></h3>
                        <p class="text-black">We are ready to offer the best experience for your business with Microsoft.</p>
                        <p class="learn-more-link"><a class="" [routerLink]="['/partnerships']">Learn More..</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="partners-grid" data-aos="fade-up" data-aos-duration="1000">
                    <div class="partners-img">
                        <img src="assets/images/partners/focused.png" alt="">
                    </div>
                    <div class="partners-details">
                        <h3 class="title"><a>Focused Impressions</a></h3>
                        <p class="text-black">Growing businesses with a fully integrated and adaptable <a class="learn-more-link">eCommerce platform</a></p>
                        <p class="learn-more-link"><a class="" [routerLink]="['/partnerships']">Learn More..</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="partners-grid" data-aos="fade-up" data-aos-duration="1000">
                    <div class="partners-img">
                        <img src="assets/images/partners/big-c.png" alt="">
                    </div>
                    <div class="partners-details">
                        <h3 class="title"><a>Big Commerce</a></h3>
                        <p class="text-black">Automate synchronization of business processes and much more.</p>
                        <p class="learn-more-link"><a class="" [routerLink]="['/partnerships']">Learn More..</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="partners-grid" data-aos="fade-up" data-aos-duration="1000">
                    <div class="partners-img">
                        <img src="assets/images/partners/ship-station.png" alt="">
                    </div>
                    <div class="partners-details">
                        <h3 class="title"><a>Ship Station</a></h3>
                        <p class="text-black">A shipping software solution that makes it easier to manage your shipping orders.</p>
                        <p class="learn-more-link"><a class="" [routerLink]="['/partnerships']">Learn More..</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="slider-partner">
    <div class="container mb-4" data-aos="fade-up" data-aos-duration="1000">
        <div nz-row [nzGutter]="0">
            <div nz-col class="gutter-row mb-4" [nzSpan]="24">
                <marquee behavior="scroll" direction="left" scrollamount="15">
                    <a> <img src="assets/images/slider-partners/p-1.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-2.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-3.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-4.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-5.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-6.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-7.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-8.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-9.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-10.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-11.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-12.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-13.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-14.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-15.png" alt=""></a>
                    <a> <img src="assets/images/slider-partners/p-16.png" alt=""></a>
                </marquee>
            </div>
        </div>
    </div>
</div>
