@import "src/styles/custom-variables";

.hero-section {
    background-image: url("../../assets/images/banner-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    padding: 25px;
    margin: 0 0 30px 0;
    background: rgba(234,234,234,0.8);
    width: 100%;
    max-width: 70%;
    text-align: center;

    .hero-text {
        color: $hero-text-color;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700 !important;
    }

    .info-text {
        color: #000000;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 300;
    }
}

.solution-offer {
    background-color: $solution-offer-bg;
}


.industry-support {
    background-color: $industry-support-bg;

    .section-grid {
        &:hover {
            text-decoration-color: #74a19e !important;
            text-decoration: underline;
        }
    }
}

.technology {
    .inner-box {
        padding: 48px;
        text-align: center;
        color: #ffffff;
        letter-spacing: -0.5px;

        .box-title {
            font-size: 28px;
        }

        .box-info-text {
            text-align: left;
        }

        img {
            width: 98px;
            height: 98px;
        }

        .ul-check {
            text-align: left;

            li {
                margin-bottom: 16px;
            }
        }

        &.box-one {
            background-color: #405fa8;
        }

        &.box-two {
            background-color: #506db1;
        }

        &.box-three {
            background-color: #637db8;
        }
    }
}


.success-stories {
    background-color: #ecf4ed;

    .message-wrapper {
        padding: 20px;

        figure {
            padding-top: 20px;
            position: relative;
            display: flex;
            justify-content: center;

            img {
                max-width: 100px;
                border: 10px solid #66ce79;
                border-radius: 50%;
            }
        }
    }

    .quote-message {
        background-color: $quote-text-bg;
        padding: 30px;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        border-radius: 7px;
        color: #000000;
        font-family: "Vollkorn", serif;
        position: relative;
        -webkit-box-shadow: 0 5px 20px -5px rgb(0 0 0 / 40%);
        box-shadow: 0 5px 20px -5px rgb(0 0 0 / 0%);

        &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(162, 192, 190, 0);
            border-top-color: #66ce79;
            border-width: 15px;
            margin-left: -15px;
        }
    }
}
