<section class="hero-section">
    <div class="hero-info">
        <div>
            <h1 class="hero-text">Let us cheer up your business!</h1>
            <hr>
            <p class="info-text">
                Pristine Solutions is an international SAP Gold Partner and Microsoft Azure Partner. <br>
                We are passionate about digitizing your business so you can experience the fastest return on investment.
            </p>
        </div>
    </div>
</section>

<section class="solution-offer section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="page-title">
                    SOLUTIONS WE OFFER
                </h2>
                <p class="page-subtitle">
                    Pristine is the leader in SAP Business One solutions in Sri Lanka and the only Gold Partner and OE Service Partner to support SAP Business growth.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="section-grid">
                    <img class="grid-img" src="assets/images/erp.png" alt="">
                    <h3>ERP & Digital Core</h3>
                    <p>
                        Transform into a digital business and meet the new needs of the digital economy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-grid">
                    <img class="grid-img" src="assets/images/analytics.png" alt="">
                    <h3>Analytics</h3>
                    <p>
                        Analytics is the systematic computational analysis of data or statistics.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-grid">
                    <img class="grid-img" src="assets/images/cloud-platform.png" alt="">
                    <h3>Cloud Platform</h3>
                    <p>
                        The availability of resources, data storage and computing, without direct active management.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="industry-support section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="page-title">
                    INDUSTRIES WE SUPPORT
                </h2>
                <p class="page-subtitle">
                    We support numerous industries including Tea, Apparel, Trading and Distribution, Logistic, Project Management and construction,
                    Printing & Packaging, Food & Beverage, Information Technology, Sales, Health Care Industry & hospitals.
                    Pristine comprehends experience in Enterprise solutions for over a decade since 2005.
                </p>
                <button class="btn btn-secondary mb-5">More about our Industries</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/customer-product.png" alt="">
                    <h3>Consumer Products - eCommerce SAP Business One integration</h3>
                    <p>
                        This solution allows you to produce and distribute your products and achieve the key benefits of an eCommerce business.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/professional-service.png" alt="">
                    <h3>Professional Services/Project Management</h3>
                    <p>
                        We provide industry-focused expertise that increases project efficiency and helps the client achieve performance that maximizes productivity of project personnel.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/agriculture.png" alt="">
                    <h3>Agriculture</h3>
                    <p>
                        SAP Business One provides a unified system that allows in actively managing all the business operations of a farming unit.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/logistics.png" alt="">
                    <h3>Logistics</h3>
                    <p>
                        SAP Business One is ready solution for all trading and distribution companies of any size and geography.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/tea.png" alt="">
                    <h3>Tea</h3>
                    <p>
                        SAP Business One is ready solution for all trading and distribution companies of any size and geography.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/apparel.png" alt="">
                    <h3>Apparel</h3>
                    <p>
                        Apparel and footwear solution manage the entire business in a single system.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/food.png" alt="">
                    <h3>Food & Beverage</h3>
                    <p>
                        SAP Business One caters to specific requirements of the food industry and provides industry-specific solutions.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="section-grid">
                    <img class="grid-img" src="assets/images/industry-support/construction.png" alt="">
                    <h3>Construction</h3>
                    <p>
                        For construction industry project management expands to another level including pre and post costing, managing estimates verses actuals.
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="technology section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="w-50 mb-5">
                <div class="text-center">
                    <h2 class="page-title">
                        TECHNOLOGY
                    </h2>
                    <p class="page-subtitle">
                        At Pristine, we make sure that your business has full access to the newest technologies in eCommerce.
                    </p>
                </div>
            </div>
        </div>
        <div nz-row [nzGutter]="0">
            <div nz-col class="gutter-row" [nzSpan]="8">
                <div class="inner-box box-one">
                    <img src="assets/images/technology/iot.png" alt="">
                    <hr>
                    <h3 class="box-title">IOT</h3>
                    <p class="box-info-text">Providing a networked technology for physical objects such as vehicles, machines, home appliances & etc.</p>
                    <ul class="list-unstyled ul-check mb-5">
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i> New business models</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i> Operational efficiency</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i> Workforce productivity</li>
                    </ul>
                    <button class="btn btn-learn-more">
                        Learn more
                    </button>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
                <div class="inner-box box-two">
                    <img src="assets/images/technology/iot.png" alt="">
                    <hr>
                    <h3 class="box-title">BLOCKCHAIN</h3>
                    <p class="box-info-text">A system where we can simplify multi-party processes and build trust amongst participants.</p>
                    <ul class="list-unstyled ul-check mb-5">
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Business Process Centered</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Networks Experience</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>BaaS Abstraction Layer</li>
                    </ul>
                    <button class="btn btn-learn-more">
                        Learn more
                    </button>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
                <div class="inner-box box-three">
                    <img src="assets/images/technology/iot.png" alt="">
                    <hr>
                    <h3 class="box-title">MACHINE LEARNING</h3>
                    <p class="box-info-text">BundleB2B automatically learns and improves itself with no additional programming required.</p>
                    <ul class="list-unstyled ul-check mb-5">
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Supervised learning</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Unsupervised Learning</li>
                        <li><i class="mr-2" nz-icon nzType="check" nzTheme="outline"></i>Reinforcement Learning</li>
                    </ul>
                    <button class="btn btn-learn-more">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
