<section class="company-success-stories">
    <div class="container">
        <div class="page-heading-section">
            <h1 class="title">SUCCESS STORIES</h1>
            <hr>
            <h4 class="sub-title">Watch testimonials and read reviews for Pristine Solutions.
                <br>Learn about flourishing customers companies and see how they have reached success.</h4>
        </div>
    </div>

    <section class="success-stories reviews">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2 class="page-title mb-5">
                        REVIEWS
                    </h2>
                </div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Pristine’s professional approach during the entire process should be mentioned. We are confident that our relationship with SAP will be fruitful and would continue for years to come.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/amazon.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Niluza Badurdeen</h3>
                            <p class="font-size-20 text-black">Manager – Business Strategies & Finance
                                <br><b>Amazon Trading (Pvt.) Ltd.</b></p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “SAP solution provided well equipped integrated system which facilitate lot of support to achieve their business goals.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/primo.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Lahiru Jayashan</h3>
                            <p class="font-size-20 text-black">Accountant
                                <br><b>Premier Synthetic Leather Manufacturers (Pvt) Ltd</b></p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “As a real estate company the customization tools are very important to match the SAP system with our requirement.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/prime.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Gihan Sameera Perera</h3>
                            <p class="font-size-20 text-black">System Administrator - ERP
                                <br><b>Prime Lands (Pvt) Ltd</b></p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “SAP Business One is very user friendly that it allows many modifications where users can do by themselves.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/resus.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Kavinda Perera</h3>
                            <p class="font-size-20 text-black">Senior Manager – Finance
                                <br><b>Resus Energy PLC</b></p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “SAP solution bring Single integrated business solutions to sort out business solutions and future direction.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/biomed.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Indika Gamage</h3>
                            <p class="font-size-20 text-black">General Manager- Finance
                                <br><b>Biomed Scientific</b></p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “We had a successful SAP Business One implementation back in 2016. All business segments of the 2nd largest tea exporter in Sri Lanka were connected to one platform. Especially with a tailor made add-on, TeaOne.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/anverally.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Amal Mudunkotuwa</h3>
                            <p class="font-size-20 text-black">Former Accountant
                                <br><b>Anverally &amp; Sons (Pvt.) Ltd.</b></p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <p class="quote-message">
                            “Pristine’s professional approach during the entire process should be mentioned. We are confident
                            that our relationship with SAP will be fruitful and would continue for years to come.”
                        </p>
                        <figure>
                            <img src="assets/images/testimonials/technomedics.png" alt="">
                        </figure>
                        <div class="text-center">
                            <h3 class="font-size-20 text-black">Nishad Janake</h3>
                            <p class="font-size-20 text-black">Assitant General Manager – IT
                                <br><b>Technomedics International</b></p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </section>

    <hr>

    <section class="testimonial">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <h2 class="text-black mb-2">TESTIMONIALS</h2>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                            <div class="video-wrapper" (click)="showAkraModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-akra.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isAkraVisible" (nzOnCancel)="handleAkraModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/ADKa7ouJ5LM?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Akra Bakers</h2>
                            <p class="mb-4 info-text" align="left">Leading the Sri Lankan food and beverage market sector for more than 15 years, Akra Bakers is a cookery business that produces quality baked items such as breads and buns that are unique in their own taste.
                                <br>Akra Bakers (Pvt.) Ltd. has grown their business using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <div class="video-wrapper" (click)="showKmnModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-kmn.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isKmnVisible" (nzOnCancel)="handleKmnModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/4sTPleUOTu4?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                            <h2 class="text-black">KMN Aqua Services</h2>
                            <p class="mb-4 info-text">KMN Aqua Services Pvt Ltd choose Pristine Solutions to implement <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                            <div class="video-wrapper" (click)="showPrimeModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-prime.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isPrimeVisible" (nzOnCancel)="handlePrimeModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/ADKa7ouJ5LM?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Prime Lands</h2>
                            <p class="mb-4 info-text">Prime Lands Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <div class="video-wrapper" (click)="showAmazonModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-amazon.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isAmazonVisible" (nzOnCancel)="handleAmazonModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/gsGvRvxwDUA?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                            <h2 class="text-black">Amazon Trading</h2>
                            <p class="mb-4 info-text">Amazon Trading Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                            <div class="video-wrapper" (click)="showBiomedModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-biomed.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isBiomedVisible" (nzOnCancel)="handleBiomedModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/pa0FW5qie1w?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Biomed Scientific</h2>
                            <p class="mb-4 info-text">Biomed Scientific Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <div class="video-wrapper" (click)="showAnverallyModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-anveraly.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isAnverallyVisible" (nzOnCancel)="handleAnverallyModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/NeMIq97NmqU?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                            <h2 class="text-black">Anverally &amp; Sons</h2>
                            <p class="mb-4 info-text">Anverally &amp; Sons describe how they succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                            <div class="video-wrapper" (click)="showResusModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-resus.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isResusVisible" (nzOnCancel)="handleResusModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/zLDScu8ou6M?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Resus Energy PLC</h2>
                            <p class="mb-4 info-text">Resus Energy PLC has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <div class="video-wrapper" (click)="showNmiModal()">
                                <div class="play-icon">
                                    <img src="assets/images/icons/play-fill.svg" alt="">
                                </div>
                                <img src="assets/images/success-stories/success-stories-nmi.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                            </div>
                            <nz-modal [(nzVisible)]="isNmiVisible" (nzOnCancel)="handleNmiModal()" [nzCentered]="true" [nzFooter]="null" [nzWidth]="1060">
                                <ng-container *nzModalContent>
                                    <iframe name="fancybox-frame1658991412484" class="iframe-video" allowfullscreen="allowfullscreen" allow="autoplay; fullscreen" src="https://www.youtube-nocookie.com/embed/LRou7DvROl8?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1" scrolling="no"></iframe>
                                </ng-container>
                            </nz-modal>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                            <h2 class="text-black">NMI Infra</h2>
                            <p class="mb-4 info-text">NMI Infra Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
