<section class="company-success-stories">
    <div class="container">
        <div class="page-heading-section">
            <h1 class="title"><b>SUCCESS STORIES</b></h1>
            <hr>
            <h4 class="sub-title">Watch testimonials and read reviews for Pristine Solutions.
                <br>Learn about flourishing customers companies and see how they have reached success.</h4>
        </div>
    </div>

    <div class="container">
        <section class="success-stories reviews">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h2 class="page-title mb-5">
                            REVIEWS
                        </h2>
                    </div>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “Pristine’s professional approach during the entire process should be mentioned. We are confident that our relationship with SAP will be fruitful and would continue for years to come.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/amazon.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Niluza Badurdeen</h3>
                                <p class="font-size-20 text-black">Manager – Business Strategies & Finance
                                    <br><b>Amazon Trading (Pvt.) Ltd.</b></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “SAP solution provided well equipped integrated system which facilitate lot of support to achieve their business goals.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/primo.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Lahiru Jayashan</h3>
                                <p class="font-size-20 text-black">Accountant
                                    <br><b>Premier Synthetic Leather Manufacturers (Pvt) Ltd</b></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “As a real estate company the customization tools are very important to match the SAP system with our requirement.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/prime.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Gihan Sameera Perera</h3>
                                <p class="font-size-20 text-black">System Administrator - ERP
                                    <br><b>Prime Lands (Pvt) Ltd</b></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “SAP Business One is very user friendly that it allows many modifications where users can do by themselves.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/resus.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Kavinda Perera</h3>
                                <p class="font-size-20 text-black">Senior Manager – Finance
                                    <br><b>Resus Energy PLC</b></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “SAP solution bring Single integrated business solutions to sort out business solutions and future direction.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/biomed.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Indika Gamage</h3>
                                <p class="font-size-20 text-black">General Manager- Finance
                                    <br><b>Biomed Scientific</b></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “We had a successful SAP Business One implementation back in 2016. All business segments of the 2nd largest tea exporter in Sri Lanka were connected to one platform. Especially with a tailor made add-on, TeaOne.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/anverally.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Amal Mudunkotuwa</h3>
                                <p class="font-size-20 text-black">Former Accountant
                                    <br><b>Anverally &amp; Sons (Pvt.) Ltd.</b></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="message-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p class="quote-message">
                                “Pristine’s professional approach during the entire process should be mentioned. We are confident
                                that our relationship with SAP will be fruitful and would continue for years to come.”
                            </p>
                            <figure>
                                <img src="assets/images/testimonials/technomedics.png" alt="">
                            </figure>
                            <div class="text-center">
                                <h3 class="font-size-20 text-black">Nishad Janake</h3>
                                <p class="font-size-20 text-black">Assitant General Manager – IT
                                    <br><b>Technomedics International</b></p>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </section>

        <hr>

        <section class="testimonial">
            <div class="container">
                <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-lg-6 text-center heading-section mb-5">
                        <h2 class="text-black mb-2">TESTIMONIALS</h2>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/f8bVt3sQkxM" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-akra.png" alt="Akra Bakers with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                                <h2 class="text-black">Akra Bakers</h2>
                                <p class="mb-4 info-text" align="left">Leading the Sri Lankan food and beverage market sector for more than 15 years, Akra Bakers is a cookery business that produces quality baked items such as breads and buns that are unique in their own taste.”
                                    <br>Akra Bakers (Pvt.) Ltd. has grown their business using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/4sTPleUOTu4" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-kmn.png" alt="KMN Aqua with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                                <h2 class="text-black">KMN Aqua Services</h2>
                                <p class="mb-4 info-text">KMN Aqua Services Pvt Ltd choose Pristine Solutions to implement <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/ADKa7ouJ5LM" class="video-img">
                                    <span class="play">
                                        <span class="icon-play"></span>
                                    </span>
                                    <img src="assets/images/success-stories/success-stories-prime.png" alt="Prime Lands with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                                <h2 class="text-black">Prime Lands</h2>
                                <p class="mb-4 info-text">Prime Lands Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/gsGvRvxwDUA" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-amazon.png" alt="Amazon Tea with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                                <h2 class="text-black">Amazon Trading</h2>
                                <p class="mb-4 info-text">Amazon Trading Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/pa0FW5qie1w" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-biomed.png" alt="Biomed Lifesciences with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                                <h2 class="text-black">Biomed Scientific</h2>
                                <p class="mb-4 info-text">Biomed Scientific Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/NeMIq97NmqU" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-anveraly.png" alt="Anverally Tea with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                                <h2 class="text-black">Anverally &amp; Sons</h2>
                                <p class="mb-4 info-text">Anverally &amp; Sons describe how they succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right" data-aos-duration="1000">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/zLDScu8ou6M" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-resus.png" alt="Resus Energy with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                                <h2 class="text-black">Resus Energy PLC</h2>
                                <p class="mb-4 info-text">Resus Energy PLC has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                                <a data-fancybox="" data-ratio="1.5" href="https://youtu.be/LRou7DvROl8" class="video-img">
				<span class="play">
					<span class="icon-play"></span>
				</span>
                                    <img src="assets/images/success-stories/success-stories-nmi.png" alt="NM Infra with Pristine Solutions for SAP Business One" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right" data-aos-duration="1000">
                                <h2 class="text-black">NMI Infra</h2>
                                <p class="mb-4 info-text">NMI Infra Pvt Ltd has succeeded in their business by using <a href="sap-businessone.php">SAP BusinessOne</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</section>
