@import "src/styles/custom-variables";

.partnership {
    .page-heading-section {
        .title {
            font-size: 32px;
            margin-bottom: 20px;
        }

        .sub-title {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .info-text {
        color: $subtitle-color;
    }
}
