<section class="partnership">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-heading-section" data-aos="fade-up" data-aos-duration="100">
                    <h1 class="title">Our Partnerships</h1>
                    <h4 class="sub-title">At Pristine Solutions, we are international SAP Gold Partners and Microsoft Azure Partners. We are passionate about digitizing your business so that you can experience the fastest return on investment.</h4>
                </div>
            </div>
        </div>

        <div class="row hover-1-wrap mb-5 mb-lg-0" id="SAPgold">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/sap-gold.png" alt="SAP Gold Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">SAP Gold Partner</h2>
                        <p class="mb-4 info-text">SAP Gold Partnership – Pristine Solutions (Pvt) Ltd. is the only Gold Partner for SAP Business One in Sri Lanka</p>
                        <div class="row">
                            <p><a href="https://partneredge.sap.com/content/partnerfinder/search.html#/search/results?itemsPerPage=10&amp;query=Pristine&amp;sortBy=shortname&amp;sortOrder=asc" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="microsoft">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/microsoft.png" alt="MS Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Microsoft Partner</h2>
                        <p class="mb-4 info-text">In your journey to digitize your business, we are here to help you implement Microsoft Azure so that you can achieve the best experience for your business </p>
                        <div class="row">
                            <p><a href="https://www.microsoft.com/en-lk/smb" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="avalarra">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-1.png" alt="Avalara Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Avalara</h2>
                        <p class="mb-4 info-text">We supply rates and rules based on geolocation and product classification. We prepare and file returns, and distribute payments to tax jurisdictions on your behalf.
                            <br><br>Avalara automatically omits tax from exempt sales and manages exemption documentation. We can also track your sales to show you where you’re obligated to file, and we can help get you registered.</p>
                        <div class="row">
                            <p><a href="https://www.avalara.com/us/en/index.html" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="argentis">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-2.png" alt="Argentis Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Argentis</h2>
                        <p class="mb-4 info-text">Argentis Systems has been developing and implementing market-leading business software for the fashion and apparel industry since 2008.
                            <br><br>Argentis Systems’ global community has experience working with over 100 customers and technology partners worldwide, delivering high-quality solutions which are tailor-made to meet the specific needs of businesses within the fashion and apparel sector. Agentis Systems is a certified SAP Strategic Solution Provider (SSP) dedicated to the development, distribution, implementation, and support of SAP enterprise software solutions.
                        </p>
                        <div class="row">
                            <p><a href="https://www.argentis-systems.com/en/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="boyum">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-3.png" alt="Boyum IT Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Boyum IT</h2>
                        <p class="mb-4 info-text">Boyum IT Solutions is a global award-winning SAP Business One implementation, consultancy, and development house with more than 8,000 customers worldwide.
                            <br><br>Boyum IT Solutions’ strong individual skill sets combined with their fast and efficient implementation methodology make them one of the strongest teams in the field.
                        </p>
                        <div class="row">
                            <p><a href="https://www.boyum-solutions.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="century">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-4.png" alt="Century Business Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Century Business</h2>
                        <p class="mb-4 info-text">"In 2004, Century Business Solutions was founded. They recognized a need for a more straightforward fee structure and saw an opportunity for businesses to benefit from simpler payment processes. With a thorough understanding of the trends and opportunities in the payment processing industry, their solutions were developed to simplify payment acceptance and increase profits for their merchants.
                            <br><br>Century is a software developer, merchant processor, and payment gateway built for you. They’re dedicated to helping merchants get the most out of credit card processing.
                        </p>
                        <div class="row">
                            <p><a href="https://www.centurybizsolutions.net/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="computec">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-5.png" alt="Compu Tec Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">CompuTec</h2>
                        <p class="mb-4 info-text">CompuTec’s main goal is really to improve the competitiveness of their customers.
                            <br><br>To CompuTec, achieving that is the basic indicator of if they are doing things right or not. However, they are not in an industry where you can make a great product and then sit back and rest on your laurels.
                            <br><br>A tireless hunger for new ideas, led by they managing director and supported by constant research and analysis, is the very lifeblood of CompuTec and of course is the basis for the modules and additions to SAP Business One that they have created including project manufacturing solutions, a warehouse management system, and even a dealership network. As well as a focus on expanding the capabilities of their current offerings, CompuTec looks to add the very latest in technology to their repertoire. Their innovative investigations into the use of augmented reality during the manufacturing process is just one example of this.
                        </p>
                        <div class="row">
                            <p><a href="https://processforce.world/solutions/computec-processforce/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="csi">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-6.png" alt="CSI Payments Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">CSI Payments</h2>
                        <p class="mb-4 info-text">Since 1989, CSI Payments has been providing payment solutions to some of the world’s most iconic brands while building an elite crew of AP-certified payments experts, software developers, relationship managers, and integration specialists. CSI keeps innovation and flexibility top-of-mind so they can drive secure B2B electronic payments globally.</p>
                        <div class="row">
                            <p><a href="https://www.corporatespending.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="focused">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/focused.png" alt="Focused Impressions Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Focused Impressions</h2>
                        <p class="mb-4 info-text">Focused Impressions was founded in 2014 by eCommerce entrepreneurs to meet evolving B2B and B2C eCommerce needs. Dedicated to serving the global SAP community, its team of SAP-certified solutions veterans are experts in eCommerce behaviors. Focused Impressions brings this combined knowledge to bear in FocusPoint for SAP Business One.</p>
                        <div class="row">
                            <p><a href="https://www.focusedimpressions.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="itm">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-8.png" alt="ITM Development Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">ITM Development</h2>
                        <p class="mb-4 info-text">ITM-Development is an IT consulting company headquartered in Switzerland. Since 2004 they have developed solutions in the fields of ERP, WEB and eCommerce. ITEM-Development has  helped companies achieve their goals faster and easier. Every company – regardless of size, industry or company history – can do a great job. ITM-Development wants to do their part and, with ITM-Development as the new standard technology, help companies worldwide to save valuable time and money. </p>
                        <div class="row">
                            <p><a href="https://www.itm-development.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="phocus">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-9.png" alt="Phocus Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Phocus</h2>
                        <p class="mb-4 info-text">Phocus serves both midmarket and enterprise customers, who appreciate their tailored, industry-focused solutions that simplify data management through powerful analytics and visualization tools, and revolutionize the way they interact with their own information.</p>
                        <div class="row">
                            <p><a href="https://www.phocassoftware.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="pivot">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-10.png" alt="Pivot Nexus Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Pivot Nexus</h2>
                        <p class="mb-4 info-text">Pivot Payables delivers apps that increase the value of customer investments in business processes and systems, particularly related to spend and payment management for expense, invoice, and travel.</p>
                        <div class="row">
                            <p><a href="https://www.pivotpayables.com/pivotnexus-connectors-concur/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="planett">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-17.png" alt="Planet Together Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Planet Together</h2>
                        <p class="mb-4 info-text">Flexible supply chain planning and scheduling for global operations. Planet Together is the worlds leading planning &amp; scheduling platform that provides greater lean, agile and capacity planning along with Gantt scheduling for sequencing.
                            <br><br>Planet Together with Pristine Solutions enables agile manufacturing for your ERP, MRP or MES so you can enjoy faster delivery, higher efficiency and an accelerated cash flow.</p>
                        <div class="row">
                            <p><a href="https://www.planettogether.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="powerbi">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-11.png" alt="Power BI Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Power BI</h2>
                        <p class="mb-4 info-text">Power BI is a business analytics solution that lets you visualize your data and share insights across your organization, or embed them in your app or website. Connect to hundreds of data sources and bring your data to life with live dashboards and reports.</p>
                        <div class="row">
                            <p><a href="https://powerbi.microsoft.com/en-us/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="sap">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/sap-gold.png" alt="SAP Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">SAP Hosting</h2>
                        <p class="mb-4 info-text">Build Applications to Meet Individual Business Needs –Quickly and Economically, Discover how SAP Cloud Platform lets you build the exact application you need more quickly, easily, and economically. Deliver business solutions quickly, and gain flexibility and control over your choice of clouds, frameworks, and applications with a platform as a service based on open standards.</p>
                        <div class="row">
                            <p><a href="https://www.sap.com/products/cloud-platform.html" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="shipstation">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-13.png" alt="Ship Station Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">ShipStation</h2>
                        <p class="mb-4 info-text">ShipStation leads the eCommerce world with their web-based software designed to make eCommerce retailers exceptionally efficient at processing, fulfilling, and shipping their orders from all the most popular marketplaces and shopping carts using all the top carriers. ShipStation combines order processing, production of shipping labels, and customer communication in an easy to use, web-based interface that integrates directly with major carriers and online platforms.</p>
                        <div class="row">
                            <p><a href="https://www.shipstation.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                            &nbsp;
                            <p><a href="partnerships_ShipStation.php" class="btn btn-info rounded-pill">Learn More</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row hover-1-wrap mb-5 mb-lg-0" id="square">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                        <img src="assets/images/partners/partnership-14.png" alt="Square Up Logo" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                        <h2 class="text-black">Square</h2>
                        <p class="mb-4 info-text">Square is here to help sellers of all sizes start, run, and grow their business—and helping them grow their business is good business for everyone.</p>
                        <div class="row">
                            <p><a href="https://squareup.com/us/en/point-of-sale" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row hover-1-wrap mb-5 mb-lg-0" id="fisher">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                            <img src="assets/images/partners/partnership-15.png" alt="TaskCentre-Fisher Logo" class="img-fluid">
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                            <h2 class="text-black">TaskCentre-Fisher/Orbis</h2>
                            <p class="mb-4 info-text">Quickly recognizing the needs of a burgeoning industrial sector to measure things, he devotes this enterprise to the development and optimization of ultra-sensitive measurement instruments.</p>
                            <div class="row">
                                <p><a href="https://www.fisher-technology.com/" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row hover-1-wrap mb-5 mb-lg-0" id="temabit">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left"  data-aos-duration="1000">
                            <img src="assets/images/partners/partnership-16.png" alt="Temabit Logo" class="img-fluid">
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right"  data-aos-duration="1000">
                            <h2 class="text-black">TEMABIT</h2>
                            <p class="mb-4 info-text">Palette helps a retailer to understand and predict a customer’s’ demand. Your product managers will be able to understand the customer behavior, and analyze products; mutual replacement based on your customer's requirements. Efficiently plan assortment in the entire chain, a particular region or even an individual store. Determine the life cycle of any products, decide on assortment changes. Actively manage your stock levels, margin, schedule replenishment. Finally, calculate and analyze the financial results of planned assortment.</p>
                            <div class="row">
                                <p><a href="http://www.temabit.com" target="_blank" class="btn btn-info rounded-pill">Visit Website</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
